<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:fragment="config(title)">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content=""/>
    <meta name="author" content="ajd" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://meowmeyou.com/"/>
    <meta property="og:title" content="미유미유" />
    <meta property="og:description" content="너와 나의 이야기가 펼쳐지는 곳" />
    <meta property="og:image" content="http://meowmeyou.com/img/index/kakao_preview.jpg"/>
    <meta property="og:site_name" content="유기묘 커뮤니티에 오신걸 환영합니다!"/>

    <!-- favicon-->
    <link rel="icon" th:href="@{img/favicon/favicon-remove-bg.ico}" type="image/x-icon" sizes="16x16"/>
    <!-- bootstrap icons -->
    <link th:href="@{/css/fragments/bootstrap-icons.css}" rel="stylesheet">

    <title th:replace="${title}">제목</title>
    <!-- common used css files-->
    <link rel="stylesheet" th:href="@{css/fragments/header_nav.css}">
    <!-- bootstrap icons-->
    <link rel="stylesheet" th:href="@{css/bootstrap-icons.css}">
    <!-- bootstrap Core css-->
    <link rel="stylesheet" th:href="@{css/fragments/bootstrap.5.2.3.css}">
    <!-- Simple line icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css">
    <!-- footer css -->
    <link rel="stylesheet" th:href="@{css/fragments/footer.css}">

    <!-- Bootstrap core JS-->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Jquery core JS-->
    <script defer src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <!-- Font Awesome icons (free version)-->
    <script defer src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"></script>
    <!--common JS -->
    <script defer th:src="@{js/fragments/common.js}"></script>

    <!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
    <th:block layout:fragment="css"></th:block>
    <!-- 컨텐츠페이지의 스크립트 영역이 들어감 -->
    <th:block layout:fragment="script"></th:block>
    </head>

<body>

</body>
</html>