<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>header_nav</title>

</head>
  <body id="page-top">
  <div th:fragment="header_nav" >
      <header id="header" class="header d-flex align-items-center fixed-top">
          <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
              <a class="logo d-flex align-items-center" href="/"><img alt="Brand" src="../img/logo/logo_remove_bg.png"></a>
              </a>
              <i class="mobile-nav-toggle mobile-nav-show bi bi-list "></i>
              <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x "></i>
              <nav id="navbar" class="navbar">
                  <ul>
                      <li class="dropdown"><a href="/"><span>Meow me, you</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                          <ul>
                              <li><a href="business">사업소개</a></li>
                          </ul>
                      </li>
                      <li><a href="donatehome">후원하기</a></li>
                      <li class="dropdown"><a href="#"><span>물품거래</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                          <ul>
                              <li><a th:href="@{/boardlist?(id=FRE_SEL)}">무료 나눔</a></li>
                              <li><a th:href="@{/boardlist?(id=USD_TRN)}">중고 거래</a></li>
                          </ul>
                      </li>
                      <li class="dropdown"><a href="#"><span>커뮤니티</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                          <ul>
                              <li><a th:href="@{/boardlist?(id=NOTICE)}">공지사항</a></li>
                              <li><a th:href="@{/boardlist?(id=ADP_ACT)}">분양하기</a></li>
                              <li><a th:href="@{/boardlist?(id=ADP_REV)}">분양후기</a></li>
                              <li><a th:href="@{/boardlist?(id=CAT_STR)}">캣스타그램</a></li>
                          </ul>
                      </li>
                      <li class="dropdown"><a href="my_page"><span>마이페이지</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                          <ul>
                              <li><a href="myPost">내 글 모아보기</a></li>
                              <li><a href="myReply">내가 쓴 댓글 모아보기</a></li>
                              <li><a href="myHeart">좋아요 목록 보기</a></li>
                              <li><a href="donatelist">내 후원 목록보기</a></li>
                              <li><a href="modifyUser">회원정보 수정하기</a></li>
                          </ul>
                      </li>
                      <li><a class="get-a-quote" href="logout">로그아웃</a></li>
                  </ul>
              </nav>
              <!-- .navbar -->

          </div>
      </header><!-- End Header -->
      <div class="dummy"></div>
  </div>
  </body>
</html>
