<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_5.2.3}">

<!--고유 CSS 추가-->
<!--<th:block layout:fragment="css">-->
<!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
<!--</th:block>-->

<!--고유 스크립트 추가-->
<!--<th:block layout:fragment="script">-->
<!--    <script th:src="@{/js/page/home.js}"></script>-->
<!--</th:block>-->
<title>테스트</title>
<div layout:fragment="content">
    <h1>content</h1>
</div>
</html>