<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_5.2.3}">

<!--고유 CSS 추가-->
<th:block layout:fragment="css">
    <link th:href="@{/css/community/post_insert.css}" rel="stylesheet" />
    <link th:href="@{/css/fragments/header_card.css}" rel="stylesheet" />
</th:block>

<!--고유 스크립트 추가-->
<th:block layout:fragment="script">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script defer th:src="@{/js/community/post_insert.js}"></script>
</th:block>
<title>글 쓰기 페이지</title>
    <div layout:fragment="content">

        <!-- section -->

        <div class="jua" th:switch="${comid}">

            <div th:case="'ADP_ACT'" class="header-card">
                <div class="card bg-crop">
                    <img src="../img/banner/adopt_action_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명" style="top:-250px;left:0px;"/>
                    <div class="card-img-overlay">
                        <h5 class="card-title text-dark text-center fs-1">
                            분양하기 커뮤니티
                        </h5>
                        <p class="card-text text-dark text-center fs-3">
                            고양이를 분양을 하는 곳입니다. 새로운 가족을 찾아주세요~
                        </p>
                    </div>
                </div>
            </div>

            <div th:case="'ADP_REV'" class="header-card">
                <div class="card bg-crop">
                    <img src="../img/banner/adopt_review_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명" style="top:-100px;left:0px;"/>
                    <div class="card-img-overlay">
                        <h5 class="card-title text-dark text-center fs-1">
                            분양후기 커뮤니티
                        </h5>
                        <p class="card-text text-dark text-center fs-3">
                            분양 받은 고양이들이 어떻게 지내고 있는지 알려주세요!
                        </p>
                    </div>
                </div>
            </div>

            <div th:case="'CAT_STR'" class="header-card">
                <div class="card bg-crop">
                    <img src="../img/banner/cat_star_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명" style="top:-150px;left:0px;"/>
                    <div class="card-img-overlay">
                        <h5 class="card-title text-dark text-center fs-1">
                            캣스타그램
                        </h5>
                        <p class="card-text text-dark text-center fs-3">
                            고양이들의 일상을 적어보는 커뮤니티!
                        </p>
                    </div>
                </div>
            </div>

            <div th:case="'DON_HST'" class="header-card">
                <div class="card bg-crop">
                    <img src="../img/banner/donate_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명" style="top:-150px;left:0px;"/>
                    <div class="card-img-overlay">
                        <h5 class="card-title text-dark text-center fs-1">
                            Meow me you 후원내역입니다.
                        </h5>
                        <p class="card-text text-dark text-center fs-3">
                            후원해주신 모금액은 아래와 같이 전달되고 있습니다.
                        </p>
                    </div>
                </div>
            </div>

            <div th:case="'FRE_SEL'" class="header-card">
                <div class="card bg-crop">
                    <img src="../img/banner/free_sell_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명"  style="top:-100px;left:0px;"/>
                    <div class="card-img-overlay">
                        <h5 class="card-title text-dark text-center fs-1">
                            고양이, 집사용품 무료나눔!
                        </h5>
                        <p class="card-text text-dark text-center fs-3">
                            가지고 있기에 아까운 물품들을 나눠주세요!
                        </p>
                    </div>
                </div>
            </div>

            <div th:case="'USD_TRN'" class="header-card">
                <div class="card bg-crop">
                    <img src="../img/banner/used_trans_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명" style="top:-200px;left:0px;"/>
                    <div class="card-img-overlay">
                        <h5 class="card-title text-dark text-center fs-1">
                            고양이, 집사용품 중고거래!
                        </h5>
                        <p class="card-text text-dark text-center fs-3">
                            고양이, 집사용품을 거래할 수 있는 커뮤니티입니다~
                        </p>
                    </div>
                </div>
            </div>

            <div th:case="'NOTICE'" class="header-card">
                <div class="card bg-crop">
                    <img src="../img/banner/notice_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명" style="top:-100px;left:0px;"/>
                    <div class="card-img-overlay">
                        <h5 class="card-title text-dark text-center fs-1">
                            공지사항
                        </h5>
                        <p class="card-text text-dark text-center fs-3">
                            Meow, me you 공지사항입니다!
                        </p>
                    </div>
                </div>
            </div>


        </div>

        <form class="sans" action="/boardwritepro" method="post" enctype="multipart/form-data" onsubmit="return PostInsertValidChecked();">

            <!--230224 add_start-->
            <input type="hidden" th:value="${comid}" name="communityId">
            <!--230224 add_end-->

            <div id="insert_text_box">
                <div class="row w-50 mb-3">

                    <!--여기 포스트아이디 선택하는 select 잇어야할듯-->
                    <div th:switch="${comid}">
                        <div th:case="'NOTICE'">
                            <input type="hidden" name="postId" value="NTC_POST"/>
                            <input type="hidden" name="price" value="0">
                        </div>
                        <div th:case="'ADP_ACT'">
                            <input type="hidden" name="postId" value="ADT_ING"/>
                            <input type="hidden" name="price" value="0">
                        </div>
                        <div th:case="'ADP_REV'">
                            <input type="hidden" name="postId" value="GNR_POST"/>
                            <input type="hidden" name="price" value="0">
                        </div>
                        <div th:case="'CAT_STR'">
                            <input type="hidden" name="postId" value="GNR_POST"/>
                            <input type="hidden" name="price" value="0">
                        </div>
                        <div th:case="'DON_HST'">
                            <input type="hidden" name="postId" value="NTC_POST"/>
                            <input type="hidden" name="price" value="0">
                        </div>
                        <div th:case="'FRE_SEL'" >
                            <input type="hidden" name="price" value="0">
                            <div class="col-sm-5 mb-3" style="display:flex; justify-content: center; align-items: center;">
                                <label for="post_id_select_byFreeSell" class="col-sm-2 col-form-label" style="margin-right:24%;">무료나눔품목 *</label>
                                <select id= "post_id_select_byFreeSell" name="postId" class="form-select" aria-label="post_type">
                                    <option value="" selected>품목을 선택해주세요!</option>
                                    <option value="CTWR_FREE">캣타워</option>
                                    <option value="FDST_FREE">식사용품</option>
                                    <option value="FOOD_FREE">소모품(식사류)</option>
                                    <option value="HSW_FREE">집사용품</option>
                                    <option value="HYG_FREE">위생용품</option>
                                </select>
                            </div>
                        </div>
                        <div th:case="'USD_TRN'" >

                            <div class="mb-3" style="display:flex; justify-content: space-between; align-items: center;">

                                <label for="post_id_select_byUsedTransfer" class="col-form-label col-sm-2">중고거래품목 *</label>
                                <select id= "post_id_select_byUsedTransfer" name="postId" class="form-select" aria-label="post_type">
                                    <option value="" selected>품목을 선택해주세요!</option>
                                    <option value="CTWR_SELL">캣타워</option>
                                    <option value="FDST_SELL">식사용품</option>
                                    <option value="FOOD_SELL">소모품(식사류)</option>
                                    <option value="HSW_SELL">집사용품</option>
                                    <option value="HYG_SELL">위생용품</option>
                                    <option value="WSH_SELL">목욕용품</option>
                                </select>



                                <label for="second_amount" class="col-form-label col-sm-2 text-center" style="margin-left:15%;">가격 *</label>
                                <input type="text" class="form-control form_info" id="second_amount" name="price" onkeyup="inputNumberFormat(this);">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row w-50 mb-5">
                    <label for="post_title" class="col-sm-2 col-form-label">제목 *</label>
                    <div class="col-sm-10">
                        <input maxlength="20" type="text" name="subject" class="form-control" id="post_title" placeholder="제목을 입력해주세요.(20자 이하로 작성해주세요)"/>
                        <input name="userNo" type="hidden" class="form-control" th:value="${user.getUserNo()}">
                    </div>
                </div>
                <div class="row w-50 mb-5">
                    <label for="post_content" class="col-sm-2 col-form-label">내용 *</label>
                    <div class="col-sm-10">
                        <textarea maxlength="500" class="form-control" name="content" id="post_content" rows="10" placeholder="내용을 입력해주세요. (500자 이하로 작성해주세요)"></textarea>
                    </div>
                </div>
            </div>
            <div id="insert_pic_box">
                <div class="row w-50 mb-3">
                    <label for="inputGroupFile02" class="col-sm-2 col-form-label">이미지첨부</label>
                    <div class="col-sm-10">
                        <div class="input-group mb-3">
                            <input type="file" name="files" multiple="multiple" class="form-control" id="inputGroupFile02"  />
                            <label class="input-group-text" for="inputGroupFile02">Upload</label>
                        </div>
                        <!-- </form> -->
                    </div>
                </div>

                <div class="mx-auto" id="upload_info">
                    <p>* 사진은 5개 까지 첨부할 수 있습니다.</p>
                    <p>* 사진은 개당 5MB를 넘을 수 없습니다.</p>
                    <p>* 사진은 최대 20MB를 넘을 수 없습니다.</p>
                    <p>* 사진첨부시 마지막에 등록한 사진이 썸네일로 등록됩니다.</p>
                </div>

                <hr class="border border-white" />

                <div class="bot_btn_group">
                    <button type="submit" class="btn btn-dark mr-5" style="margin-right:10px;">
                        <i class="bi bi-pencil-square"></i>등록하기
                    </button>
                    <button type="button" class="btn btn-dark ml-5" style="margin-left:10px;">
                        <a th:href="@{/boardlist?(id=${comid})}" class="text-white"><i class="bi bi-list"></i> 목록으로</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</html>
