<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="http://mintable1.cafe24.com/Meow_me_you_front/html/"
    />
    <meta property="og:title" content="미유미유" />
    <meta property="og:description" content="너와 나의 이야기가 펼쳐지는 곳" />
   <link href="../css/bootstrap-icons.css" rel="stylesheet">
    <meta
      property="og:image"
      content="http://mintable1.cafe24.com/Meow_me_you_front/img/kakao_preview.jpg"
    />
    <meta
      property="og:site_name"
      content="유기묘 커뮤니티에 오신걸 환영합니다!"
    />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
    crossorigin="anonymous"
  />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  
    <link
      rel="icon"
      href="../img/favicon/favicon-remove-bg.ico"
      type="image/x-icon"
      sizes="16x16"
    />
    <title>커뮤니티 글 목록</title>
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Simple line icons-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
      rel="stylesheet"
    />
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/community/post_list.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Navigation-->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
  
       
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <a class="logo d-flex align-items-center" href="/"><img alt="Brand" src="../img/logo/logo_remove_bg.png"></a>
        </a>
  
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list "></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x "></i>
        <nav id="navbar" class="navbar">
          <ul>
            <li class="dropdown"><a href="/"><span>Meow me, you</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="business">사업소개</a></li>
                <!--                <li><a th:href="@{/boardlist?(id=ADP_REV)}">후원내역</a></li>-->
              </ul>
            </li>
            <li><a href="donatehome">후원하기</a></li>
            <li class="dropdown"><a href="#"><span>물품거래</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a th:href="@{/boardlist?(id=FRE_SEL)}">무료 나눔</a></li>
                <li><a th:href="@{/boardlist?(id=USD_TRN)}">중고 거래</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>커뮤니티</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
   <!--                <li><a th:href="@{/boardlist?(id=NOTICE)}">공지사항</a></li>-->
                <li><a th:href="@{/boardlist?(id=ADP_ACT)}">분양하기</a></li>
                <li><a th:href="@{/boardlist?(id=ADP_REV)}">분양후기</a></li>
                <li><a th:href="@{/boardlist?(id=CAT_STR)}">캣스타그램</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="my_page"><span>마이페이지</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="myPost">내 글 모아보기</a></li>
                <li><a href="myReply">내가 쓴 댓글 모아보기</a></li>
                <li><a href="myHeart">좋아요 목록 보기</a></li>
                <li><a href="donatelist">내 후원 목록보기</a></li>
                <li><a href="modifyUser">회원정보 수정하기</a></li>
              </ul>
            </li>
            <li><a class="get-a-quote" href="logout">로그아웃</a></li>
          </ul>
        </nav>
        <!-- .navbar -->
  
      </div>
    </header><!-- End Header -->

     <!-- section -->
    <div th:switch="${comid}">

     <div th:case="'ADP_ACT'" class="header-card">
      <div class="card bg-crop">
        <img src="../img/banner/adopt_action_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명" style="top:-250px;left:0px;"/>
        <div class="card-img-overlay">
          <h5 class="card-title text-dark text-center fs-1">
            분양하기 커뮤니티
          </h5>
          <p class="card-text text-dark text-center fs-3">
            고양이를 분양을 하는 곳입니다. 새로운 가족을 찾아주세요~
          </p>
        </div>
      </div>
     </div>

        <div th:case="'ADP_REV'" class="header-card">
            <div class="card bg-crop">
                <img src="../img/banner/adopt_review_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명" style="top:-100px;left:0px;"/>
                <div class="card-img-overlay">
                    <h5 class="card-title text-dark text-center fs-1">
                        분양후기 커뮤니티
                    </h5>
                    <p class="card-text text-dark text-center fs-3">
                        분양 받은 고양이들이 어떻게 지내고 있는지 알려주세요!
                    </p>
                </div>
            </div>
        </div>

        <div th:case="'CAT_STR'" class="header-card">
            <div class="card bg-crop">
                <img src="../img/banner/cat_star_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명" style="top:-150px;left:0px;"/>
                <div class="card-img-overlay">
                    <h5 class="card-title text-dark text-center fs-1">
                        캣스타그램
                    </h5>
                    <p class="card-text text-dark text-center fs-3">
                        고양이들의 일상을 적어보는 커뮤니티!
                    </p>
                </div>
            </div>
        </div>

        <div th:case="'DON_HST'" class="header-card">
            <div class="card bg-crop">
                <img src="../img/banner/donate_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명" style="top:-150px;left:0px;"/>
                <div class="card-img-overlay">
                    <h5 class="card-title text-dark text-center fs-1">
                        Meow me you 후원내역입니다.
                    </h5>
                    <p class="card-text text-dark text-center fs-3">
                        후원해주신 모금액은 아래와 같이 전달되고 있습니다.
                    </p>
                </div>
            </div>
        </div>

        <div th:case="'FRE_SEL'" class="header-card">
            <div class="card bg-crop">
                <img src="../img/banner/free_sell_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명"  style="top:-100px;left:0px;"/>
                <div class="card-img-overlay">
                    <h5 class="card-title text-dark text-center fs-1">
                        고양이, 집사용품 무료나눔!
                    </h5>
                    <p class="card-text text-dark text-center fs-3">
                        가지고 있기에 아까운 물품들을 나눠주세요!
                    </p>
                </div>
            </div>
        </div>

        <div th:case="'USD_TRN'" class="header-card">
            <div class="card bg-crop">
                <img src="../img/banner/used_trans_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명" style="top:-200px;left:0px;"/>
                <div class="card-img-overlay">
                    <h5 class="card-title text-dark text-center fs-1">
                        고양이, 집사용품 중고거래!
                    </h5>
                    <p class="card-text text-dark text-center fs-3">
                        고양이, 집사용품을 거래할 수 있는 커뮤니티입니다~
                    </p>
                </div>
            </div>
        </div>

        <div th:case="'NOTICE'" class="header-card">
            <div class="card bg-crop">
                <img src="../img/banner/notice_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명" style="top:-100px;left:0px;"/>
                <div class="card-img-overlay">
                    <h5 class="card-title text-dark text-center fs-1">
                        공지사항
                    </h5>
                    <p class="card-text text-dark text-center fs-3">
                        Meow, me you 공지사항입니다!
                    </p>
                </div>
            </div>
        </div>


    </div>
    <!-- 검색창-->

<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--      <div class="container-fluid">-->

<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->

<!--          <form class="d-flex"th:action="@{/boardlist}" method="get">-->
<!--            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchKeyword">-->
<!--            <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </nav>-->

    <div  style="margin: 0 auto; width: 25%; ">
      <form th:action="@{/boardlist}" method="get">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
          <div class="input-group">
            <input type="hidden" name="id" th:value="${comid}"><!--230224 여기 추가-->
            <input type="search" name="searchKeyword" placeholder="제목을 입력하세요" aria-describedby="button-addon1" class="form-control border-0 bg-light">
            <div class="input-group-append">
              <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- 커뮤니티 첫번째 줄 444 -> 3333 -> 2*6 으로 줄어듬  -->
    <section class="py-5">
      <div class="container px-4 px-lg-4">
        <div
          class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" >
          <div class="col mb-5" th:each="communityMaster ,status: ${list}"  style="height: 400px;">
            <div class="card h-100">
            <!--  badge-->
<!--              <div th:switch="${communityMaster.postId}">-->
<!--                <div th:case="'ADT_CMPL'" class="badge bg-secondary position-absolute fs-5">분양 완료</div>-->
<!--                <div th:case="'ADT_ING'" class="badge bg-warning text-dark position-absolute fs-5">분양 중</div>-->

<!--                <div th:case="'CTWR_SELL'" class="badge bg-primary position-absolute fs-5">캣타워판매글</div>-->
<!--                <div th:case="'FDST_SELL'" class="badge bg-success position-absolute fs-5">식사용품판매글</div>-->
<!--                <div th:case="'FOOD_SELL'" class="badge bg-success position-absolute fs-5">소모품(식사류)판매글</div>-->
<!--                <div th:case="'HSW_SELL'" class="badge bg-warning position-absolute fs-5">집사용품판매글</div>-->
<!--                <div th:case="'HYG_SELL'" class="badge bg-info position-absolute fs-5">위생용품판매글</div>-->
<!--                <div th:case="'WSH_SELL'" class="badge bg-info position-absolute fs-5">목욕용품판매글</div>-->
<!--                <div th:case="'SELL_CMPL'" class="badge bg-secondary position-absolute fs-5">판매완료</div>-->

<!--                <div th:case="'CTWR_FREE'" class="badge bg-primary position-absolute fs-5">캣타워무료나눔</div>-->
<!--                <div th:case="'FDST_FREE'" class="badge bg-success position-absolute fs-5">식사용품무료나눔</div>-->
<!--                <div th:case="'FOOD_FREE'" class="badge bg-success position-absolute fs-5">소모품(식사류)무료나눔</div>-->
<!--                <div th:case="'HSW_FREE'" class="badge bg-warning position-absolute fs-5">집사용품무료나눔</div>-->
<!--                <div th:case="'HYG_FREE'" class="badge bg-info position-absolute fs-5">위생용품무료나눔</div>-->
<!--                <div th:case="'FREE_CMPL'" class="badge bg-secondary position-absolute fs-5">무료나눔완료</div>-->

<!--                <div th:case="'GNR_POST'" class="badge bg-light position-absolute fs-5">일반글</div>-->
<!--                <div th:case="'NTC_POST'" class="badge bg-danger position-absolute fs-5">공지글</div>-->

<!--              </div>-->

              <img th:if = "${communityMaster.sumImg != null}"  th:src="@{|/upload/${communityMaster.sumImg}|}" style="width:100%; height:230px;"/>
              <img th:unless="${communityMaster.sumImg != null}" src="../img/noimg.gif" style="width:100%; height:250px;"/>


              <!-- 분양후기 상세내용들 -->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- 글 제목 -->
                  <h5 class="fw-bolder" th:text="${communityMaster.subject}">길에서 만난 천사 미유</h5>
                </div>
              </div>
              <div class="text-center">
                <h6>조회수 <span th:text="${communityMaster.viewCount}"></span></h6>
              </div>
              <!-- post actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                    <a class="btn btn-outline-dark mt-auto" th:href="@{/boardview(postNo=${communityMaster.postNo}, id=${comid})}">자세히 보기</a>
                </div>
              </div>
            </div>
          </div>

        </div>

    </section>

    <div class="d-flex justify-content-end" style="margin-right:13.2%;">
    <a
      type="button" style="text-align: center;"
      class="btn btn-secondary fs-5 btn-lg"
      th:href="@{/boardwrite(id=${comid})}"><i class="bi bi-pencil-square"></i>
        게시글 작성
    </a>
    </div>


    <!-- 페이지 -->
    <nav class="marbot_100" aria-label="Page navigation example"  th:style="${totalPage<=0 ? 'visibility:hidden' : 'visibility'}" >
      <ul class="pagination" >
        <li class="page-item" th:classappend="${1 == nowPage} ? 'disabled'">
          <a class="page-link" href="#" aria-label="Previous"
             th:href="@{/boardlist(id=${comid},page=${startPage-1})}">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item" th:classappend="${1 == nowPage} ? 'disabled'">
          <a class="page-link" href="#" aria-label="Previous"
             th:href="@{/boardlist(id=${comid},page=${nowPage-2})}">
            <span aria-hidden="true">&lt;</span>
          </a>
        </li>

        <li class="page-item" th:classappend="${i == nowPage} ? 'disabled'"
            th:each="i : ${#numbers.sequence(startPage, endPage)}"
            th:if="${i >= nowPage-5 and i <= nowPage+4}">
          <a class="page-link" href="#"
             th:href="@{/boardlist(id=${comid},page=${i - 1},searchKeyword = ${param.searchKeyword})}"
             th:text="${i}" th:style="${i<=0 ? 'display:none' : 'display:block'}"></a></li>

        <li class="page-item" th:classappend="${endPage == nowPage} ? 'disabled'">
          <a class="page-link" href="#" aria-label="Next"  th:href="@{/boardlist(id=${comid},page=${nowPage})}">
            <span  aria-hidden="true">&gt;</span>
          </a>
        <li class="page-item" th:classappend="${endPage == nowPage} ? 'disabled'">
          <a class="page-link" href="#" aria-label="Next"  th:href="@{/boardlist(id=${comid},page=${endPage-1})}">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>

    </nav>
    <!-- section - end -->


   

    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container px-4">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2022
        </p>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"
      ><i class="fas fa-angle-up"></i
    ></a>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../js/template.js"></script>
  </body>
</html>
