<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_5.2.3}">

<!--고유 CSS 추가-->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/community/post_view.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/header_card.css}"/>
</th:block>

<!--고유 스크립트 추가-->
<th:block layout:fragment="script">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer th:src="@{/js/community/reply.js}"></script>
    <script defer th:src="@{/js/community/post_view.js}"></script>
</th:block>

<title>글 상세보기</title>

<div layout:fragment="content">

    <div class="jua" th:switch="${comid}">

        <div th:case="'ADP_ACT'" class="header-card">
            <div class="card bg-crop">
                <img src="../img/banner/adopt_action_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명" style="top:-250px;left:0px;"/>
                <div class="card-img-overlay">
                    <h5 class="card-title text-dark text-center fs-1">
                        분양하기 커뮤니티
                    </h5>
                    <p class="card-text text-dark text-center fs-3">
                        고양이를 분양을 하는 곳입니다. 새로운 가족을 찾아주세요~
                    </p>
                </div>
            </div>
        </div>

        <div th:case="'ADP_REV'" class="header-card">
            <div class="card bg-crop">
                <img src="../img/banner/adopt_review_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명" style="top:-100px;left:0px;"/>
                <div class="card-img-overlay">
                    <h5 class="card-title text-dark text-center fs-1">
                        분양후기 커뮤니티
                    </h5>
                    <p class="card-text text-dark text-center fs-3">
                        분양 받은 고양이들이 어떻게 지내고 있는지 알려주세요!
                    </p>
                </div>
            </div>
        </div>

        <div th:case="'CAT_STR'" class="header-card">
            <div class="card bg-crop">
                <img src="../img/banner/cat_star_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명" style="top:-150px;left:0px;"/>
                <div class="card-img-overlay">
                    <h5 class="card-title text-dark text-center fs-1">
                        캣스타그램
                    </h5>
                    <p class="card-text text-dark text-center fs-3">
                        고양이들의 일상을 적어보는 커뮤니티!
                    </p>
                </div>
            </div>
        </div>

        <div th:case="'DON_HST'" class="header-card">
            <div class="card bg-crop">
                <img src="../img/banner/donate_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명" style="top:-150px;left:0px;"/>
                <div class="card-img-overlay">
                    <h5 class="card-title text-dark text-center fs-1">
                        Meow me you 후원내역입니다.
                    </h5>
                    <p class="card-text text-dark text-center fs-3">
                        후원해주신 모금액은 아래와 같이 전달되고 있습니다.
                    </p>
                </div>
            </div>
        </div>

        <div th:case="'FRE_SEL'" class="header-card">
            <div class="card bg-crop">
                <img src="../img/banner/free_sell_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명"  style="top:-100px;left:0px;"/>
                <div class="card-img-overlay">
                    <h5 class="card-title text-dark text-center fs-1">
                        고양이, 집사용품 무료나눔!
                    </h5>
                    <p class="card-text text-dark text-center fs-3">
                        가지고 있기에 아까운 물품들을 나눠주세요!
                    </p>
                </div>
            </div>
        </div>

        <div th:case="'USD_TRN'" class="header-card">
            <div class="card bg-crop">
                <img src="../img/banner/used_trans_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명" style="top:-200px;left:0px;"/>
                <div class="card-img-overlay">
                    <h5 class="card-title text-dark text-center fs-1">
                        고양이, 집사용품 중고거래!
                    </h5>
                    <p class="card-text text-dark text-center fs-3">
                        고양이, 집사용품을 거래할 수 있는 커뮤니티입니다~
                    </p>
                </div>
            </div>
        </div>

        <div th:case="'NOTICE'" class="header-card">
            <div class="card bg-crop">
                <img src="../img/banner/notice_banner.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명" style="top:-100px;left:0px;"/>
                <div class="card-img-overlay">
                    <h5 class="card-title text-dark text-center fs-1">
                        공지사항
                    </h5>
                    <p class="card-text text-dark text-center fs-3">
                        Meow, me you 공지사항입니다!
                    </p>
                </div>
            </div>
        </div>


    </div>

    <section class="sec-ma sans">


        <div
                id="carouselExampleIndicators"
                class="carousel slide"
                data-bs-ride="true"
        >
            <div class="carousel-indicators">
                <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1"
                ></button>
                <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="1"
                        aria-label="Slide 2"
                ></button>
                <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="2"
                        aria-label="Slide 3"
                ></button>
                <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="3"
                        aria-label="Slide 4"
                ></button>
                <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="4"
                        aria-label="Slide 5"
                ></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item" th:each="communityImage,iterStat : ${cimg}"
                     th:classappend="${iterStat.first} ? active" >
                    <img style="width:100%; height:750px;"
                         th:src="@{|/upload/${communityImage.imgName}|}"
                         class="d-block w-100"
                         alt="사진1"
                    />
                </div>
            </div>
            <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev"
            >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next"
            >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </section>

    <div class="com_auto sans">

        <h1 class="text-dark fs-1" id="post_title" th:text="${board.subject}">제목입니다.</h1>
        <div class="heart">
            <div class="flex-shrink-0">
                <!--          <img-->
                <!--            class="rounded-circle" style="width:70px;,height:70px;"-->
                <!--            th:src="@{|/upload/${board.getUserMaster().getProfileImagePath()}|}"-->
                <!--            alt="..."-->
                <!--          />-->

                <img th:if = "${board.getUserMaster().getProfileImagePath() != null}"  th:src="@{|/upload/${board.getUserMaster().getProfileImageName()}|}" style="width:70px;,height:70px;" class="rounded-circle"/>
                <img th:unless="${board.getUserMaster().getProfileImagePath() != null}" src="../img/noimg.gif" style="width:100px;,height:100px;" class="rounded-circle"/>
            </div>
            <ul>
                <!-- 230301 추가 -->
                <li th:if="${comid}=='USD_TRN'">가격 : <span th:text="${price}"></span></li>
                <!-- 230301 끝 -->
                <!-- 이후 추가 -->
                <li th:if="${comid}=='USD_TRN' or ${comid}=='FRE_SEL'"> 물품 :
                    <th:block th:switch="${board.postId}">
                        <span th:case="CTWR_FREE">캣타워</span><span th:case="CTWR_SELL">캣타워</span>
                        <span th:case="FDST_FREE">식사용품</span><span th:case="FDST_SELL">식사용품</span>
                        <span th:case="FOOD_FREE">소모품(식사류)</span><span th:case="FOOD_SELL">소모품(식사류)</span>
                        <span th:case="HYG_FREE">위생용품</span><span th:case="HYG_SELL">위생용품</span>
                        <span th:case="HSW_FREE">위생용품</span><span th:case="HSW_SELL">집사용품</span>
                        <span th:case="SELL_CMPL">판매완료</span><span th:case="FREE_CMPL">무료나눔완료</span>
                    </th:block>
                </li>
                <!-- 이후 추가 끗 -->
                <li>작성자    : <span th:text="${board.getUserMaster().getNickName()}" >작성자</span></li>
                <li>작성일자  : <span th:text="${#temporals.format(board.createPostDate, 'yyyy-MM-dd HH:mm:ss')}">작성일자</span></li>
                <li>조회수    : <span th:text="${board.viewCount}"></span></li>
            </ul>
            <!--          작성자 : 미우미우<br />작성일자 :-->
            <div id="heart_box">
                <a th:href="@{/countHeart?(postNo=${board.postNo})}">
                    <i th:if="${clickHeart}==false" class="bi bi-heart"></i>
                    <i th:if="${clickHeart}==true" class="bi bi-heart-fill"></i>
                </a>
                <span class="fs-2" id="like_number" th:text="${numberOfHeart}">11115</span>
            </div>

        </div>

        <div style="width: 100%;">
            <p class="text-dark fs-6 text-break" id="community_content" th:text="${board.content}">
                고양이가 너무 흥분하거나 불안, 우울감을 느꼈을 때 기지개를 켜기도 해요.
                특히, 사냥 놀이를 할 때 고양이가 갑자기 기지개를 켜기도 합니다. 이는
                고양이가 놀이가 지루해서 그런 게 아니라, 극도로 흥분한 나머지 마음을
                다잡기 위해 하는 행동이라고 합니다. 그리고 고양이가 사냥감을 놓치거나,
                발을 헛디뎌 미끄러졌을 때 민망하고 부끄러움을 감추기 위해서도 기지개를
                켠다고 해요. 갑자기 고양이가 두 발로 얼굴을 감싸 그루밍하거나 기지개를
                켠다면, 모른 척 지나가 줍시다.
            </p>
        </div>
        <!-- Comments section-->

        <div class="reply_auto">
            <div class="card"  >
                <div class="card-header" >Reply List</div>
                <ul id="reply--box" class="list-group" >
                    <li id="reply--1" class="list-group-item d-flex justify-content-between"
                        th:each="reply : ${board.replyList}">
                        <div th:text="${reply.replyContent}">댓글내용입니다</div>
                        <div class="d-flex" >
                            <span class="text-monospace mr-1">작성자: </span><div class="text-monospace mr-1"
                                                                               th:text="${reply.getUserMaster().getNickName()}"></div>
                            <button th:if="${reply.userNo == user.userNo}"
                                    th:onclick="|replyIndex.replyDelete('${board.postNo}', '${reply.replyNo}')|"
                                    class="badge btn-danger" style="margin-left: 10px;">삭제</button>
                        </div>
                    </li>

                </ul>
            </div>


            <div class="card mt-3" >
                <div class="card-header bg-light ">
                    <i class="fa fa-comment fa"></i>Reply
                </div>

                <form>
                    <input type="hidden" id="postNo" th:value="${board.postNo}">
                    <ul class="list-group list-group-flush" style="text-align:center">
                        <li class="list-group-item marAuto">
                            <textarea class="form-control marArea" id="reply_content" rows="2"></textarea>
                            <button id="reply-btn-save" type="button" class="btn btn-dark btn_mar">등록</button>
                        </li>
                    </ul>

                </form>
            </div>

        </div>


    </div>


    <div class="footer-btn-group sans" id="post_button_group">
        <a type="button" class="btn btn-outline-primary" style="margin-right : 10px" th:if="${board.userNo == user.userNo}" th:href="@{/boardmodify(postNo=${board.postNo},id=${comid})}">

            <i class="bi bi-pencil-square"></i> 수정하기
        </a>
        </a>
        <a type="button" class="btn btn-outline-danger confirm_btn" th:if="${board.userNo == user.userNo}" th:href="@{/boarddelete/(postNo=${board.postNo},id=${comid} )}">
            <i class="bi bi-trash-fill"></i> 삭제하기
        </a>
        <button type="button" class="btn btn-outline-dark">
            <a th:href="@{/boardlist(id=${comid})}"> <i class="bi bi-list"></i> 목록으로</a>
        </button>
    </div>
</div>
</html>