.header-card{
  margin-top:70px;
}

.bg-menu{
  top:-100px;
  left:0;
}

.card-title{
  margin-top:100px;
}

#main_box {
  width: 1300px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: auto;
}

.small_btn {
  padding: 0.15rem 0.25rem;
  font-size: 0.7rem;
  border-radius: 0.2rem;
}