section{
    font-weight:300;
    width:100%;
    height:500px;
    display: flex;
    justify-content: center;
    margin:0 auto;
    white-space: nowrap;
}

.header-card {
  text-align: center;
  margin-top: 150px;
}

.header-card .thumb {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.24);
}

.header-card .thumb-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 36px;
}

.header-card .greeting {
  margin-bottom: 10px;
}

.header-card .mail {
  padding: 8px 22px 10px 22px;
  background-color: rgba(0, 0, 0, 0.05);
  display: inline-block;
  border-radius: 20px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin-top: 18px;
}


/* 리스트 */
.list {
  margin-top: 48px;
}

.list .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.list .item .left {
  display: flex;
  align-items: center;
}

.list .item .left .name {
  margin-left: -20px;
}

.list .item .right {
  opacity: 0.5;
}

.list .item img {
  padding: 20px 22px;
}

.list .item .right img {
  padding-right: 14px;
}

.list .mg {
  margin-left: -50px;
}
#user_info_box {
  text-align: center;
  width: 100%;
}
#user_info {
  text-align: center;
  white-space: nowrap;
}


.list-group{
  margin-top:30px;
  text-align: center;
  margin:0 20px;
}
.martop_30 {
  margin-top: 30px;
}

.mail a {
  text-decoration: none;
}
button :hover{
  cursor: pointer;
}
.btn-group{
  text-align: center;
  width: 70%;
  margin-top: 10px;
  place-items: center;
}

.btn-group .btn{
  margin-top: 10px;
}

.btn{
  width:60%;
}


.thumb {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.24);
}