
.header-card .card {
  margin-top: 100px;
}

.bg-menu {
  top: -100px;
  left: 0;
}
#community_type h5 {
  font-size: xx-large;
}

.pad_4 {
  padding: 4px;
}

.card-title{
  margin-top: 100px;
}

#table_box{
  width:60%;
  margin:0 auto;
}

.small_btn {
  padding: 0.15rem 0.25rem;
  font-size: 0.7rem;
  border-radius: 0.2rem;
}