#donate_receipt_info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:150px;
}

#donate_receipt_box{
  width:690px;
}

th{
  text-align:center;
  border-right: 1px solid RGB(234, 236, 238);
}

tr{
  border-left: 1px solid RGB(234, 236, 238);
  border-right: 1px solid RGB(234, 236, 238);
}

.donate_content th{
  width:230px;
}

@media print {
  .print-button { display:none;}
}

.donate_content td{
    border-right: 1px solid RGB(234, 236, 238);
    text-align: center;
}

.print_btn_box{
    display:flex;
    justify-content:center;
}
#print{
    margin-right:20px;
}