.bir_yy,
.bir_mm,
.bir_dd {
  width: 250px;
  display: table-cell;
}
.bir_mm + .bir_dd,
.bir_yy + .bir_mm {
  padding-left: 10px;
}

#donate_box {
  width: 100%;
}
.martop_10 {
  margin-top: 10px;
}

.form_info ~ small{
  display:block;
}

.marbot_70{
  margin-bottom:70px;
}

section{
  margin-top: 100px;
}

[type="radio"]{
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
}

[type="radio"]:checked {
  border: 0.4em solid #8ec0cf;
}

[type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted #8ec0cf;
}

[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

form{
  width:500px;
  margin:0 auto;
}

#password_info{
  white-space: nowrap;
}

.op{
 width: 30%;
}

.form-phone{
  margin-bottom: 10px;
}

#sign_btn{
  display: inline; width: 25%; margin-top: -5px; margin-left: -5px;
}

#sign_ph{
  display: inline;
  width: 74%;
}

#sign_phone{
  width: 25%;
  display: inline;
  margin-right: -1px;
}

.marbot_20{
  margin-bottom: 20px;
}