<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_5.2.3}">

<!--고유 CSS 추가-->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/user/delete_user.css}" >
</th:block>

<!--고유 스크립트 추가-->
<!--<th:block layout:fragment="script">-->
<!--    <script th:src="@{/js/page/home.js}"></script>-->
<!--</th:block>-->
<title>탈퇴하기</title>
<div class="sans" layout:fragment="content">

    <!-- section -->
    <section>
        <div class="container py-4">
            <div class="row align-items-center justify-content-between marbot_50">
                <a class="navbar-brand h1 text-center" href="index.html">
                    <img class="mb-4 martop_10" src="../img/logo/logo_text_bottom.png" alt="home" width="200" height="100">
                </a>
            </div>
            <div id="pw_find_text">
                <h2 class="marbot_30">탈퇴하시겠습니까?</h2>
                <h4>"<span th:text="${user.getNickName()}"></span>"님의 비밀번호를 입력해주세요.</h4>
            </div>
            <div><p th:text="${dontpatchpassword}"></p></div>

            <form th:action="deleteUser" method="post">
                <div class="input_password_box">
                    <input type="password" name="userPassword" required>
                </div>
                <div id="pw_find_btn_group">
                    <button class="btn btn-dark btn-lg" type="submit">회원탈퇴</button>
                    <button class="btn btn-dark btn-lg" type="submit"><a class="text-white" href="my_page">취소</a></button>
                    <!-- onclick="history.back();"-->
                </div>
            </form>


        </div>
    </section>

    <!-- section - end -->
</div>
</html>