<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="http://mintable1.cafe24.com/Meow_me_you_front/html/"
    />
    <meta property="og:title" content="미유미유" />
    <meta property="og:description" content="너와 나의 이야기가 펼쳐지는 곳" />
   <link href="../css/bootstrap-icons.css" rel="stylesheet">
    <meta
      property="og:image"
      content="http://mintable1.cafe24.com/Meow_me_you_front/img/index/kakao_preview.jpg"
    />
    <meta
      property="og:site_name"
      content="유기묘 커뮤니티에 오신걸 환영합니다!"
    />
    <link
      rel="icon"
      href="../img/favicon/favicon-remove-bg.ico"
      type="image/x-icon"
      sizes="16x16"
    />
    <title>Meow_me_you</title>
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Simple line icons-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
      rel="stylesheet"
    />
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/index.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Navigation-->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
  
       
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <a class="logo d-flex align-items-center" href="/"><img alt="Brand" src="../img/logo/logo_remove_bg.png"></a>
        </a>
  
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list "></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x "></i>
        <nav id="navbar" class="navbar">
          <ul>
            <li class="dropdown"><a href="/"><span>Meow me, you</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="business">사업소개</a></li>
<!--                <li><a th:href="@{/boardlist?(id=ADP_REV)}">후원내역</a></li>-->
              </ul>
            </li>
            <li><a href="donatehome">후원하기</a></li>
            <li class="dropdown"><a href="#"><span>물품거래</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a th:href="@{/boardlist?(id=FRE_SEL)}">무료 나눔</a></li>
                <li><a th:href="@{/boardlist?(id=USD_TRN)}">중고 거래</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>커뮤니티</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
   <!--                <li><a th:href="@{/boardlist?(id=NOTICE)}">공지사항</a></li>-->
                <li><a th:href="@{/boardlist?(id=ADP_ACT)}">분양하기</a></li>
                <li><a th:href="@{/boardlist?(id=ADP_REV)}">분양후기</a></li>
                <li><a th:href="@{/boardlist?(id=CAT_STR)}">캣스타그램</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="my_page"><span>마이페이지</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="myPost">내 글 모아보기</a></li>
                <li><a href="myReply">내가 쓴 댓글 모아보기</a></li>
                <li><a href="myHeart">좋아요 목록 보기</a></li>
                <li><a href="donatelist">내 후원 목록보기</a></li>
                <li><a href="modifyUser">회원정보 수정하기</a></li>
              </ul>
            </li>
            <li><a class="get-a-quote" href="logout">로그아웃</a></li>
          </ul>
        </nav>
        <!-- .navbar -->
  
      </div>
    </header><!-- End Header -->

    <!-- section-->
    <section class="masthead d-flex align-items-center" id="donate">
      <div class="container px-4 px-lg-5 text-left">
        <h3 class="mb-1">고양이의 평균 수명 15년</h3>
        <h3 class="mb-4">그러나 길고양이의 평균 수명은 고작 2년입니다.</h3>
        <p class="mb-1 fs-5">영양실조, 계절의 변화로 인해 물을 구하지 못하고</p>
        <p class="mb-1 fs-5">길가에서 싸늘하고 힘없이 죽어가는 우리 아이들이</p>
        <p class="mb-4 fs-5">
          내일을 기대할 수 있게 해주세요
        </p>
        <a class="btn btn-outline-dark btn-lg fs-5 mb-3 mt-5" href="#"
          >Meow me, you 후원내역보기</a
        ><br />
      </div>
    </section>
    <!-- trade-->
    <section class="trade_section bg-light" id="trade">
      <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          
          <div class="col-lg-10">
            <div>
              <img src="../img/index/second_trade-removebg.png" class="trade_img" alt="중고거래" style="background-size:cover;"
              />
            </div>
            <h2>중고거래, 무료나눔을 해보세요</h2>
            <p class="lead mb-4">
              이웃과 함께 다양한 고양이 용품을 나눠보세요!<br />
              다양한 물건을 판매하고 구매할 수 있는 공간!
            </p>
            <div class="row d-flex justify-content-center">
            <a class="btn btn-outline-dark btn-sm fs-5 col-2 mt-4" th:href="@{/boardlist?(id=USD_TRN)}"
              >중고거래</a
            ><br />
            <a class="btn btn-outline-dark btn-sm fs-5 col-2 mt-4" th:href="@{/boardlist?(id=FRE_SEL)}"
              >무료나눔</a
            >
          </div>
          </div>
        </div>
      </div>
    </section>


    <section class="adopt_img d-flex align-items-center" id="adopt_commu">
      <div class="container px-4 px-lg-5 text-end text-white">
        <h3 class="mb-3">유리창 너머를 꿈꾸는 아이들에게</h3>
        <h3 class="mb-5">당신이라는 꿈을 선물해주세요</h3>

        <a class="btn btn-outline-light btn-lg fs-5 mb-3" style=" border-radius: 25px;" th:href="@{/boardlist?(id=ADP_ACT)}"
          >분양하기 바로가기</a
        ><br />
        <a class="btn btn-outline-light btn-lg fs-5"  style=" border-radius: 25px;" th:href="@{/boardlist?(id=ADP_REV)}"
          >분양후기 바로가기</a
        >
      </section>

      <div id="aside_donate">
        <a
          href="donatehome"
          data-btn="regular"
          data-alt-a="캠페인버튼클릭"
          data-alt-b="girl22"
          data-alt-c="quickb1"
          class="btn_ga_send quicks"
          id="aside_banner"
        >
        <img src="../img/aside/donate_aside.png" class="img_aside" alt="후원하기"
      /></a>
      </div>
<!--    <div>-->
<!--      <a-->
<!--        href="javascript:openDetail('/chat_btn')" class="enter_chat"-->
<!--        data-toggle="tooltip" data-placement="top" title="Chat"-->
<!--        id="chat_btn"-->
<!--      >-->
<!--        <img src="../img/aside/chat_aside.png" class="chat_img" alt="채팅상담"-->
<!--      /></a>-->
<!--    </div>-->

    <!-- community -->
    <section class="content-section" id="catstar_commu">
      <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0">집사들의 이야기 공간</h3>
          <h2 class="mb-5">캣스타그램</h2>
        </div>
        <div class="row gx-0">
          <div class="col-lg-6">
            <a class="catstar_item" href="#">
              <div class="caption">
                <div class="caption-content">
                  <div class="h2">미유집사</div>
                  <p class="mb-0">미유와 함께 떠난 당일치기 피크닉</p>
                </div>
              </div>
              <img class="img-fluid" src="../img/index/portfolio-1.jpg" alt="..." />
            </a>
          </div>
          <div class="col-lg-6">
            <a class="catstar_item" href="#">
              <div class="caption">
                <div class="caption-content">
                  <div class="h2">미노미노</div>
                  <p class="mb-0">사랑스러운 우리집 콩이</p>
                </div>
              </div>
              <img class="img-fluid" src="../img/index/portfolio-2.jpg" alt="..." />
            </a>
          </div>
          <div class="col-lg-6">
            <a class="catstar_item" href="#">
              <div class="caption">
                <div class="caption-content">
                  <div class="h2">코리누나</div>
                  <p class="mb-0">우리집 코리 애교 자랑!</p>
                </div>
              </div>
              <img class="img-fluid" src="../img/index/portfolio-3.jpg" alt="..." />
            </a>
          </div>
          <div class="col-lg-6">
            <a class="catstar_item" href="#">
              <div class="caption">
                <div class="caption-content">
                  <div class="h2">애플이네</div>
                  <p class="mb-0">[애플이네] 새 식구 들이는 날</p>
                </div>
              </div>
              <img class="img-fluid" src="../img/index/portfolio-4.jpg" alt="..." />
            </a>
          </div>
          <a class="btn btn-outline-secondary btn-sm fs-6"
            id="catstargram_btn"
             th:href="@{/boardlist?(id=CAT_STR)}">더 보기</a>
        </div>
      </div>
    </section>

    <!-- Map-->
    <div class="map_wrap">
      <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
      <div class="option">
        <select id="area" onchange="selectArea()"> <!--aria-label=".form-select-lg example-->
          <option selected>지역을 선택해주세요.</option>
          <option value="서울">서울</option>
          <option value="경기">경기도</option>
          <option value="인천">인천</option>
          <option value="대전">대전</option>
          <option value="대구">대구</option>
          <option value="부산">부산</option>
          <option value="울산">울산</option>
          <option value="광주">광주</option>
          <option value="제주">제주</option>
        </select>
        <!--<div>
          <form onsubmit="searchPlaces(); return false;">
            키워드 : <input type="text" value="서울 동물보호센터" id="keyword" size="15">
            <button class="serchbtn" type="submit">검색하기</button>
          </form>
        </div>-->
      </div>
      <hr>
      <ul id="placesList"></ul>
      <div id="pagination"></div>
    </div>
    <!--    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=680531978ab426a7e809968516cc71d7"></script>-->
    <!--<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=680531978ab426a7e809968516cc71d7&libraries=services"></script>-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=680531978ab426a7e809968516cc71d7"></script>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container px-4">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2022
        </p>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"
      ><i class="fas fa-angle-up"></i
    ></a>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../js/index.js"></script>
    <script src="../js/map.js"></script>
    <script src="../js/scripts.js"></script>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"
    ><i class="fas fa-angle-up"></i
    ></a>
    <!-- Bootstrap core JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <!-- Core theme JS-->
  </body>
</html>
