<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="http://mintable1.cafe24.com/Meow_me_you_front/html/"
    />
    <meta property="og:title" content="미유미유" />
    <meta property="og:description" content="너와 나의 이야기가 펼쳐지는 곳" />
   <link href="../css/bootstrap-icons.css" rel="stylesheet">
    <meta
      property="og:image"
      content="http://mintable1.cafe24.com/Meow_me_you_front/img/kakao_preview.jpg"
    />
    <meta
      property="og:site_name"
      content="유기묘 커뮤니티에 오신걸 환영합니다!"
    />
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  
    <link
      rel="icon"
      href="../img/favicon/favicon-remove-bg.ico"
      type="image/x-icon"
      sizes="16x16"
    />
    <title>마이페이지</title>
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Simple line icons-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
      rel="stylesheet"
    />
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/user/mypage.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Navigation-->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
  
       
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <a class="logo d-flex align-items-center" href="/"><img alt="Brand" src="../img/logo/logo_remove_bg.png"></a>
        </a>
  
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list "></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x "></i>
        <nav id="navbar" class="navbar">
          <ul>
            <li class="dropdown"><a href="/"><span>Meow me, you</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="business">사업소개</a></li>
                <!--                <li><a th:href="@{/boardlist?(id=ADP_REV)}">후원내역</a></li>-->
              </ul>
            </li>
            <li><a href="donatehome">후원하기</a></li>
            <li class="dropdown"><a href="#"><span>물품거래</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a th:href="@{/boardlist?(id=FRE_SEL)}">무료 나눔</a></li>
                <li><a th:href="@{/boardlist?(id=USD_TRN)}">중고 거래</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>커뮤니티</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
   <!--                <li><a th:href="@{/boardlist?(id=NOTICE)}">공지사항</a></li>-->
                <li><a th:href="@{/boardlist?(id=ADP_ACT)}">분양하기</a></li>
                <li><a th:href="@{/boardlist?(id=ADP_REV)}">분양후기</a></li>
                <li><a th:href="@{/boardlist?(id=CAT_STR)}">캣스타그램</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="my_page"><span>마이페이지</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="myPost">내 글 모아보기</a></li>
                <li><a href="myReply">내가 쓴 댓글 모아보기</a></li>
                <li><a href="myHeart">좋아요 목록 보기</a></li>
                <li><a href="donatelist">내 후원 목록보기</a></li>
                <li><a href="modifyUser">회원정보 수정하기</a></li>
              </ul>
            </li>
            <li><a class="get-a-quote" href="logout">로그아웃</a></li>
          </ul>
        </nav>
        <!-- .navbar -->
  
      </div>
    </header><!-- End Header -->

     <!-- section -->
     <section class="sec-header">
      <div class="thumb-wrapper stagger-item">
        <a href="#"><img class="thumb" th:src="@{|/upload/${user.profileImageName}|}" /></a>
      </div>
  
      <div class="text-area">
        <h3 class="greeting stagger-item"><span th:text="${user.getNickName()}"></span></h3>
        <div class="desc stagger-item" id="user_info_box">
          <div id="user_info">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">ID</th>
                  <td><span th:text="${user.getUserId()}"></span></td>
                </tr>
                <tr>
                  <th scope="row">이름</th>
                  <td><span th:text="${user.getUserName()}"></span></td>
                </tr>
                <tr>
                  <th scope="row">닉네임</th>
                  <td><span th:text="${user.getNickName()}"></span>&nbsp;&nbsp;&nbsp;
                    <a href="#" data-toggle="modal" data-target="#changeNickNameModal" class="btn btn-outline-success btn-sm">닉네임 변경하기</a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">핸드폰</th>
                  <td><span th:text="${user.getPhoneNumber()}"></span></td>
                </tr>
                <tr>
                  <th scope="row">소개</th>
                  <td><span th:text="${user.getIntroduce()}"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!-- header - end -->
  
    <!-- section -->
    <section class="mt-5">
      <ul class="list">
        <li class="item mouse-effect stagger-item mg">
          <div class="left">
            <img src="../img/icon/bookmark.svg" />
            <div class="name">내글 모아보기</div>
          </div>
          <div class="right">
            <a href="myPost"> <img src="../img/icon/right_arrow.svg" /></a>
          </div>
        </li>
  
        <li class="item mouse-effect stagger-item mg">
          <div class="left">
            <img src="../img/icon/bag-heart.svg" />
            <div class="name">내가 쓴 댓글 모아보기</div>
          </div>
          <div class="right">
            <a href="myReply"> <img src="../img/icon/right_arrow.svg" /></a>
          </div>
        </li>
  
        <li class="item mouse-effect stagger-item mg">
          <div class="left">
            <img src="../img/icon/balloon-heart-fill.svg" />
            <div class="name">좋아요 목록보기</div>
          </div>
          <div class="right">
            <a href="myHeart"> <img src="../img/icon/right_arrow.svg" /></a>
          </div>
        </li>
  
        <li class="item mouse-effect stagger-item mg">
          <div class="left">
            <img src="../img/icon/bell.svg" />
            <div class="name">내후원 목록보기</div>
          </div>
          <div class="right">
            <a href="donatelist"> <img src="../img/icon/right_arrow.svg" /></a>
          </div>
        </li>
      </ul>
  
      <div class="text-center">
        <button class="w-30 btn btn-lg btn-dark mt-4" type="submit">
          <a class="text-white" href="modifyUser" style="text-decoration:none;">회원정보 변경하기</a>
        </button>
        <button class="w-30 btn btn-lg btn-dark mt-4" type="submit">
          <a class="text-white" href="deleteUser" style="text-decoration:none;">탈퇴하기</a>
        </button>
      </div>
    </section>
  <!-- section - end -->

 
  




  <!--  닉네임 변경 Modal -->
  <div class="modal fade" id="changeNickNameModal" tabindex="-1" role="dialog" aria-labelledby="changeNickNameModalLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="changeNickNameModalLabel">닉네임 변경하기</h4>
        </div>

        <div class="modal-body">

          <div class="form-group">
            <label class="form-label mt-2">현재 닉네임</label>
            <input type="text" class="form-control findIdName" th:value="${user.getNickName()}" disabled>
          </div>

          <form action="changeNickName" method="post">
            <div class="form-group">
              <label class="form-label mt-2">변경할 닉네임*</label>
              <input type="text" class="form-control findIdName" id="sign_nick" name="nickName" maxlength="10" required>
            </div>
            <div><span id="checkNickNameDuplication_span"></span></div>
            <button type="submit" id="changeNickNameBtn" class="btn btn-outline-primary" disabled>변경하기</button>
          </form>
          <button class="w-30 mt-4 btn btn-outline-danger" id="checkNickNameDuplication_Btn">중복검사</button>

          <div><span id="findUserId"></span></div>

        </div><!--modal-body end-->
        
        <div class="modal-footer mt-3">
          <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 닉네임 변경 modal - end  -->
   






    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container px-4">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2022
        </p>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"
      ><i class="fas fa-angle-up"></i
    ></a>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../js/user/mypage.js"></script>
  </body>
</html>
