<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_5.2.3}">

<!--고유 CSS 추가-->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/user/mypage.css}" >
</th:block>

<!--고유 스크립트 추가-->
<th:block layout:fragment="script">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  <script defer th:src="@{/js/user/mypage.js}"></script>
</th:block>

<title>마이페이지</title>

<div class="sans" layout:fragment="content">


  <!-- section -->
  <section class="sec-header">
    <div class="thumb-wrapper stagger-item">
      <a href="#"><img class="thumb" th:src="@{|/upload/${user.profileImageName}|}" /></a>
    </div>

    <div class="text-area">
      <h3 class="greeting stagger-item"><span th:text="${user.getNickName()}"></span></h3>
      <div class="desc stagger-item" id="user_info_box">
        <div id="user_info">
          <table class="table">
            <tbody>
            <tr>
              <th scope="row">ID</th>
              <td><span th:text="${user.getUserId()}"></span></td>
            </tr>
            <tr>
              <th scope="row">이름</th>
              <td><span th:text="${user.getUserName()}"></span></td>
            </tr>
            <tr>
              <th scope="row">닉네임</th>
              <td><span th:text="${user.getNickName()}"></span>&nbsp;&nbsp;&nbsp;
                <a href="#" data-toggle="modal" data-target="#changeNickNameModal" class="btn btn-outline-success small_btn">닉네임 변경하기</a>
              </td>
            </tr>
            <tr>
              <th scope="row">핸드폰</th>
              <td><span th:text="${user.getPhoneNumber()}"></span></td>
            </tr>
            <tr>
              <th scope="row">소개</th>
              <td><span th:text="${user.getIntroduce()}"></span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <!-- header - end -->

  <!-- section -->
  <section class="mt-5">
    <ul class="list">
      <li class="item mouse-effect stagger-item mg">
        <div class="left">
          <img src="../img/icon/bookmark.svg" />
          <div class="name">내글 모아보기</div>
        </div>
        <div class="right">
          <a href="myPost"> <img src="../img/icon/right_arrow.svg" /></a>
        </div>
      </li>

      <li class="item mouse-effect stagger-item mg">
        <div class="left">
          <img src="../img/icon/bag-heart.svg" />
          <div class="name">내가 쓴 댓글 모아보기</div>
        </div>
        <div class="right">
          <a href="myReply"> <img src="../img/icon/right_arrow.svg" /></a>
        </div>
      </li>

      <li class="item mouse-effect stagger-item mg">
        <div class="left">
          <img src="../img/icon/balloon-heart-fill.svg" />
          <div class="name">좋아요 목록보기</div>
        </div>
        <div class="right">
          <a href="myHeart"> <img src="../img/icon/right_arrow.svg" /></a>
        </div>
      </li>

      <li class="item mouse-effect stagger-item mg">
        <div class="left">
          <img src="../img/icon/bell.svg" />
          <div class="name">내후원 목록보기</div>
        </div>
        <div class="right">
          <a href="donatelist"> <img src="../img/icon/right_arrow.svg" /></a>
        </div>
      </li>
    </ul>

    <div class="text-center">
      <button class="w-30 btn btn-lg btn-dark mt-4" type="submit">
        <a class="text-white" href="modifyUser" style="text-decoration:none;">회원정보 변경하기</a>
      </button>
      <button class="w-30 btn btn-lg btn-dark mt-4" type="submit">
        <a class="text-white" href="deleteUser" style="text-decoration:none;">탈퇴하기</a>
      </button>
    </div>
  </section>
  <!-- section - end -->







  <!--  닉네임 변경 Modal -->
  <div class="modal fade" id="changeNickNameModal" tabindex="-1" role="dialog" aria-labelledby="changeNickNameModalLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="changeNickNameModalLabel">닉네임 변경하기</h4>
        </div>

        <div class="modal-body">

          <div class="form-group">
            <label class="form-label mt-2">현재 닉네임</label>
            <input type="text" class="form-control findIdName" th:value="${user.getNickName()}" disabled>
          </div>

          <form action="changeNickName" method="post">
            <div class="form-group">
              <label class="form-label mt-2">변경할 닉네임*</label>
              <input type="text" class="form-control findIdName" id="sign_nick" name="nickName" maxlength="10" required>
            </div>
            <div><span id="checkNickNameDuplication_span"></span></div>
            <button type="submit" id="changeNickNameBtn" class="btn btn-outline-primary" disabled>변경하기</button>
          </form>
          <button class="w-30 mt-4 btn btn-outline-danger" id="checkNickNameDuplication_Btn">중복검사</button>

          <div><span id="findUserId"></span></div>

        </div><!--modal-body end-->

        <div class="modal-footer mt-3">
          <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 닉네임 변경 modal - end  -->
</div>
</html>