<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_5.1.3}">

<!--고유 CSS 추가-->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/user/pwd_reset.css}" >
</th:block>

<!--고유 스크립트 추가-->
<th:block layout:fragment="script">
    <script th:src="@{/js/user/pwd_reset.js}"></script>
</th:block>
<title>비밀번호 변경</title>
<div class="sans" layout:fragment="content">

    <!-- section -->
    <section class="text-center">
        <main class="form-signin">
            <form action="changepw" method="post" onsubmit="return ValidChecked();">
                <img class="mb-4 martop_30" src="../img/logo/logo_text_bottom.png" alt="" width="200" height="100">
                <h5  class="h3 mb-3 fw-normal fs-1 martop_30 padbot_30"><span th:text="${userid}"></span>님의 비밀번호 변경</h5>
                <div class="form-floating">
                    <input type="password" class="form-control marbot_5" id="id" name="userPassword" placeholder="Password">
                    <label for="id">새로운 비밀번호</label>
                </div>

                <input type="hidden" name="userId" th:value="${userid}">

                <div class="form-floating">
                    <input type="password" class="form-control" id="pwd" placeholder="Password">
                    <label for="pwd">새로운 비밀번호 확인</label>
                </div>

                <button class="w-100 btn btn-lg btn-dark fs-3 marbot_30" type="submit">비밀번호 재설정</button>

            </form>
    </section>
</div>
</html>
