<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_5.2.3}">

<!--고유 CSS 추가-->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/user/sign_page.css}" >
</th:block>

<!--고유 스크립트 추가-->
<th:block layout:fragment="script">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  <script defer th:src="@{/js/user/sign_page.js}"></script>
</th:block>

<title>회원가입</title>

<div class="sans" layout:fragment="content">

  <!-- section -->
  <section>
    <div class="container py-4">
      <div class="row align-items-center justify-content-between">
        <a class="navbar-brand h1 text-center" href="/">
          <img class="mb-4 mt-2" src="../img/logo/logo_text_bottom.png" alt="" width="200" height="100" />
        </a>
      </div>
      <div class="form-group">
        <label>아이디(email)*</label>
        <div class="mb-3" id="input_id_box">
          <input type="email" class="form-control" id="sign_id_email"/><!--name="userId"-->
          <button type="submit" class="btn btn-secondary" id="id-Check-Btn">중복확인</button>
        </div>
      </div>
      <div class="form-group">
        <label>인증번호*</label>
        <div class="mb-3"id="input_mail_check_box">
          <input class="form-control mail-check-input" placeholder="인증번호 입력해주세요!" disabled="disabled" maxlength="10">
          <button type="submit" class="btn btn-secondary" id="mail-Check-Btn" disabled>인증코드보내기</button>
        </div>
      </div>
      <div class="form-group">
        <span id="mail-check-warn"></span>
      </div>
      <div class="form-group">
        <label>닉네임*</label>
        <div class="mb-3"id="nickname_box">
          <input type="text" class="form-control" id="userNickNameCheck" disabled>
          <button type="submit" class="btn btn-secondary" id="nickName-Check-Btn" disabled>중복확인</button>
        </div>
      </div>

      <form action="sign_success" method="post" onsubmit="return ValidChecked();" enctype="multipart/form-data">

        <input type="hidden" id="userIdEmail" name="userId">
        <input type="hidden" id="sign_nick" name="nickName">

        <div class="form-group">
          <label>프로필사진</label>
          <div class="filebox">
            <input class="form-control upload-name" placeholder="첨부파일">
            <label class="btn btn-secondary" for="file">파일찾기</label>
            <input class="form-control" type="file" name="file" id="file">
          </div>
        </div>



        <div class="form-group">
          <label class="form-label mt-2">이름*</label>
          <input type="text" class="form-control" id="sign_name" name="userName"/>
        </div>
        <!--<div class="form-group">
          <label class="form-label mt-1">닉네임*</label>
          <input type="text" class="form-control" id="sign_nick" name="nickName"/>
        </div>-->
        <div class="form-group has-success">
          <label class="form-label mt-2">비밀번호*</label>
          <input type="password" class="form-control" id="sign_pwd" name="userPassword"/>
          <p class="text-muted">※ 비밀번호는 영문 대,소문자와 숫자, 특수기호가 적어도 1개 이상씩 포함된 8자 ~ 20자의 비밀번호여야 합니다.</p>
        </div>

        <div class="form-group has-danger">
          <label class="form-label mt-2" for="sign_pwd2">비밀번호 재확인*</label>
          <input type="password" class="form-control" id="sign_pwd2"/>
        </div>

        <div class="form-group ">
          <label class="form-label mt-2">핸드폰*</label>
          <select class="form-select" id="sign_phone" name="phoneType">
            <option selected>SKT</option>
            <option>LG U+</option>
            <option>KT</option>
          </select>
          <input type="text" class="form-control " id="sign_ph" name="phoneNumber" >
        </div>

        <div class="form-group">
          <label for="sign_address" class="form-label mt-2">지역</label>
          <input type="text" class="form-control" id="sign_address" name="address"/>
        </div>
        <div class="form-group">
          <label class="form-label mt-2">소개</label>
          <textarea type="text" class="form-control" id="introduce" name="introduce"></textarea>
        </div>
        <div class="d-grid gap-2 form-group">
          <button class="btn btn-secondary btn-lg" id="gotojoin_btn" type="submit" disabled>
            가입하기
          </button>
        </div>
      </form>
    </div>
</div>
</section>
<!-- section - end -->


</div>
</html>
