<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="http://mintable1.cafe24.com/Meow_me_you_front/html/"
    />
    <meta property="og:title" content="미유미유" />
    <meta property="og:description" content="너와 나의 이야기가 펼쳐지는 곳" />
   <link href="../css/bootstrap-icons.css" rel="stylesheet">
    <meta
      property="og:image"
      content="http://mintable1.cafe24.com/Meow_me_you_front/img/kakao_preview.jpg"
    />
    <meta
      property="og:site_name"
      content="유기묘 커뮤니티에 오신걸 환영합니다!"
    />
    <!--제이쿼리에 .min 지워봣음-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  
    <link
      rel="icon"
      href="../img/favicon/favicon-remove-bg.ico"
      type="image/x-icon"
      sizes="16x16"
    />
    <title>회원가입</title>
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Simple line icons-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
      rel="stylesheet"
    />
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/user/sign.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Navigation-->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
  
       
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <a class="logo d-flex align-items-center" href="/"><img alt="Brand" src="../img/logo/logo_remove_bg.png"></a>
        </a>
  
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list "></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x "></i>
        <nav id="navbar" class="navbar">
          <ul>
            <li class="dropdown"><a href="/"><span>Meow me, you</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="business">사업소개</a></li>
                <!--                <li><a th:href="@{/boardlist?(id=ADP_REV)}">후원내역</a></li>-->
              </ul>
            </li>
            <li><a href="donatehome">후원하기</a></li>
            <li class="dropdown"><a href="#"><span>물품거래</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a th:href="@{/boardlist?(id=FRE_SEL)}">무료 나눔</a></li>
                <li><a th:href="@{/boardlist?(id=USD_TRN)}">중고 거래</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>커뮤니티</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
   <!--                <li><a th:href="@{/boardlist?(id=NOTICE)}">공지사항</a></li>-->
                <li><a th:href="@{/boardlist?(id=ADP_ACT)}">분양하기</a></li>
                <li><a th:href="@{/boardlist?(id=ADP_REV)}">분양후기</a></li>
                <li><a th:href="@{/boardlist?(id=CAT_STR)}">캣스타그램</a></li>
              </ul>
            </li>

        </nav>
        <!-- .navbar -->
  
      </div>
    </header><!-- End Header -->

     <!-- section -->
     <section>
      <div class="container py-4">
        <div class="row align-items-center justify-content-between">
          <a class="navbar-brand h1 text-center" href="/">
            <img class="mb-4 martop_10" src="../img/logo/logo_text_bottom.png" alt="" width="200" height="100" />
          </a>
        </div>
        <div class="form-group">
        <label>아이디(email)*</label>
        <div class="mb-3" id="input_id_box">
          <input type="email" class="form-control" id="sign_id_email"/><!--name="userId"-->
          <button type="submit" class="btn btn-secondary" id="id-Check-Btn">중복확인</button>
        </div>
      </div>
      <div class="form-group">
        <label>인증번호*</label>
        <div class="mb-3"id="input_mail_check_box">
          <input class="form-control mail-check-input" placeholder="인증번호 입력해주세요!" disabled="disabled" maxlength="10">
          <button type="submit" class="btn btn-secondary" id="mail-Check-Btn" disabled>인증코드보내기</button>
        </div>
      </div>
      <div class="form-group">
        <span id="mail-check-warn"></span>
      </div>
        <div class="form-group">
          <label>닉네임*</label>
          <div class="mb-3"id="nickname_box">
            <input type="text" class="form-control" id="userNickNameCheck" disabled>
            <button type="submit" class="btn btn-secondary" id="nickName-Check-Btn" disabled>중복확인</button>
          </div>
        </div>

        <form action="sign_success" method="post" onsubmit="return ValidChecked();" enctype="multipart/form-data">

          <input type="hidden" id="userIdEmail" name="userId">
          <input type="hidden" id="sign_nick" name="nickName">

          <div class="form-group">
            <label>프로필사진</label>
            <div class="filebox">
              <input class="form-control upload-name" placeholder="첨부파일">
              <label class="btn btn-secondary" for="file">파일찾기</label> 
              <input class="form-control" type="file" name="file" id="file">
            </div>
          </div>  
          
          
          
            <div class="form-group">
            <label class="form-label mt-2">이름*</label>
            <input type="text" class="form-control" id="sign_name" name="userName"/>
          </div>
          <!--<div class="form-group">
            <label class="form-label mt-1">닉네임*</label>
            <input type="text" class="form-control" id="sign_nick" name="nickName"/>
          </div>-->
          <div class="form-group has-success">
            <label class="form-label mt-2">비밀번호*</label>
            <input type="password" class="form-control" id="sign_pwd" name="userPassword"/>
            <p class="text-muted">※ 비밀번호는 영문 대,소문자와 숫자, 특수기호가 적어도 1개 이상씩 포함된 8자 ~ 20자의 비밀번호여야 합니다.</p>
          </div>
          
          <div class="form-group has-danger">
            <label class="form-label mt-2" for="inputInvalid">비밀번호 재확인*</label>
            <input type="password" class="form-control" id="sign_pwd2"/>
          </div>

          <div class="form-group ">
            <label class="form-label mt-2">핸드폰*</label>
            <select class="form-select" id="sign_phone" name="phoneType">
              <option selected>SKT</option>
              <option>LG U+</option>
              <option>KT</option>
            </select>
            <input type="text" class="form-control " id="sign_ph" name="phoneNumber" >
          </div>

          <div class="form-group">
            <label class="form-label mt-2">지역</label>
            <input type="text" class="form-control" id="sign_name" name="address"/>
          </div>
          <div class="form-group">
            <label class="form-label mt-2">소개</label>
            <textarea type="text" class="form-control" id="introduce" name="introduce"></textarea>
          </div>
          <div class="d-grid gap-2 form-group">
            <button class="btn btn-secondary btn-lg marbot_70" id="gotojoin_btn" type="submit" disabled>
              가입하기
            </button>
          </div>
        </form>
      </div>
    </div>
    </section>
  <!-- section - end -->

   
   

    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container px-4">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2022
        </p>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"
      ><i class="fas fa-angle-up"></i
    ></a>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../js/user/sign.js"></script>
  </body>
</html>