<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_5.2.3}">

<!--고유 CSS 추가-->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/user/sign_success.css}" >
</th:block>

<!--고유 스크립트 추가-->
<!--<th:block layout:fragment="script">-->
<!--    <script th:src="@{/js/page/home.js}"></script>-->
<!--</th:block>-->
<title>회원가입 완료</title>
<div class="sans" layout:fragment="content">

    <!-- section -->
    <section>
        <div class="container py-4">
            <div class="row align-items-center justify-content-between mb-5">
                <a class="navbar-brand h1 text-center" href="/">
                    <img class="mb-5" src="../img/logo/logo_text_bottom.png" alt="" width="200" height="100">
                </a>
            </div>
            <div id="sign_text_box">
                <h2 class="mb-4">축하드립니다!</h2>
                <h2>회원가입이 완료되었습니다</h2>
            </div>
            <div id="sign_btn_group">
                <a type="button" class="btn btn-dark btn-lg" href="/loginpage">로그인</a>
                <a type="button" class="btn btn-dark btn-lg" href="/">메인페이지</a>
            </div>
            </form>
        </div>
    </section>
    <!-- section - end -->

</div>
</html>