<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_5.2.3}">

<!--고유 CSS 추가-->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/user/user_common_post_list.css}">
  <link rel="stylesheet" th:href="@{/css/fragments/header_card.css}">
  <link rel="stylesheet" th:href="@{/css/fragments/page.css}">
</th:block>

<!--고유 스크립트 추가-->
<th:block layout:fragment="script">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</th:block>
<title>내 좋아요 목록 보기</title>
<div layout:fragment="content">


  <!-- section -->
  <div class="jua header-card">
    <div class="card bg-crop">
      <img src="../img/mypost/my_like.jpg" class="card-img rounded mx-auto d-block bg-menu" alt="커뮤니티설명" />
      <div class="card-img-overlay" id="community_type">
        <h5 class="card-title text-dark text-center fs-1">
          글 목록
        </h5>
        <p class="card-text text-dark text-center fs-3">
          <span th:text="${userNickName}"></span>님이 좋아요를 누른 글입니다.
        </p>
      </div>
    </div>
  </div>

  <section class="sans">

    <div id="table_box">
      <table class="table pad_4">
        <thead>
        <tr>
          <th class="text-center" scope="col">커뮤니티</th>
          <th class="text-center" scope="col">글제목</th>
          <th class="text-center" scope="col">조회 수</th>
          <!--<th scope="col">댓글 수</th>
          <th scope="col">좋아요 수</th>-->
          <th class="text-center" scope="col">작성자</th>
          <th class="text-center" scope="col">작성일자</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="likeList: ${likes}">
          <td class="text-center" th:switch="${likeList.getCommunityMaster().getCommunityId()}">
            <span th:case="'ADP_ACT'">분양하기</span>
            <span th:case="'ADP_REV'">분양후기</span>
            <span th:case="'CAT_STR'">캣스타그램</span>
            <span th:case="'DON_HST'">후원내역</span>
            <span th:case="'FRE_SEL'">무료나눔</span>
            <span th:case="'USD_TRN'">중고거래</span>
            <span th:case="'NOTICE'">공지사항</span>
          </td>
          <td class="text-start"><a style="text-decoration: none;" th:href="@{/boardview?(postNo=${likeList.postNo})}"><span th:text="${likeList.getCommunityMaster().getSubject()}"></span></a></td>
          <td class="text-center" th:text="${likeList.getCommunityMaster().getViewCount()}">조회수</td>
          <td class="text-center" th:text="${likeList.getCommunityMaster().getUserMaster().getNickName()}">닉네임</td>
          <!--<td th:text="${postMaster.getViewCount()}">댓글수</td>
          <td th:text="${postMaster.getViewCount()}">좋아요수</td>-->
          <td class="text-center" th:text="${likeList.getCommunityMaster().getCreatePostDate().toString().replace('T','  ')}">작성일</td>
          <!--<td><a th:href="@{/boarddelete?(postNo=${postMaster.postNo})}" type="button" class="btn btn-outline-danger confirm_deletePost_btn">삭제</a></td>-->
        </tr>
        </tbody>
      </table>
      <hr class="border border-white">
    </div>
    <!--  검색하기  -->
    <!--
          <div  style="margin: 0 auto; width: 25%; ">
            <form th:action="@{/boardlist}" method="get">
              <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                <div class="input-group">
                  <input type="search" name="searchKeyword" placeholder="제목을 입력하세요" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                  <div class="input-group-append">
                    <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
    -->

    <hr class="border border-white">
    <!-- 페이지 --><!--230225 아래줄에 th:style="${totalPage<=0 ? 'visibility:hidden' : 'visibility'}" 추가-->
    <nav class="marbot_100" aria-label="Page navigation example" th:style="${totalPage<=0 ? 'visibility:hidden' : 'visibility'}">
      <ul class="pagination">
        <li class="page-item" th:classappend="${1 == nowPage} ? 'disabled'">
          <a class="page-link" href="#" aria-label="Previous" th:href="@{/myHeart(page=${startPage-1})}">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item" th:classappend="${1 == nowPage} ? 'disabled'">
          <a class="page-link" href="#" aria-label="Previous" th:href="@{/myHeart(page=${nowPage-2})}">
            <span aria-hidden="true">&lt;</span>
          </a>
        </li>

        <li class="page-item" th:classappend="${i == nowPage} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}" th:if="${i >= nowPage-5 and i <= nowPage+4}">
          <a class="page-link" href="#"  th:href="@{/myHeart(page=${i - 1})}" th:text="${i}">1</a></li>

        <li class="page-item" th:classappend="${endPage == nowPage} ? 'disabled'">
          <a class="page-link" href="#" aria-label="Next"  th:href="@{/myHeart(page=${nowPage})}">
            <span aria-hidden="true">&gt;</span>
          </a></li>
        <li class="page-item" th:classappend="${endPage == nowPage} ? 'disabled'">
          <a class="page-link" href="#" aria-label="Next"  th:href="@{/myHeart(page=${endPage-1})}">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- 페이지 end-->

  </section>


</div>
</html>