<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="http://mintable1.cafe24.com/Meow_me_you_front/html/"
    />
    <meta property="og:title" content="미유미유" />
    <meta property="og:description" content="너와 나의 이야기가 펼쳐지는 곳" />
   <link href="../css/bootstrap-icons.css" rel="stylesheet">
    <meta
      property="og:image"
      content="http://mintable1.cafe24.com/Meow_me_you_front/img/index/kakao_preview.jpg"
    />
    <meta
      property="og:site_name"
      content="유기묘 커뮤니티에 오신걸 환영합니다!"
    />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
    crossorigin="anonymous"
  />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  
    <link
      rel="icon"
      href="../img/favicon/favicon-remove-bg.ico"
      type="image/x-icon"
      sizes="16x16"
    />
    <title>사업소개</title>

    <script src="
    https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.min.js
    "></script><!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Simple line icons-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
      rel="stylesheet"
    />
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/business/business_info.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Navigation-->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
  
       
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <a class="logo d-flex align-items-center" href="/"><img alt="Brand" src="../img/logo/logo_remove_bg.png"></a>
        </a>
  
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list "></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x "></i>
        <nav id="navbar" class="navbar">
          <ul>
            <li class="dropdown"><a href="/"><span>Meow me, you</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="business">사업소개</a></li>
                <li><a href="#">후원내역</a></li>
              </ul>
            </li>
            <li><a href="donatehome">후원하기</a></li>
            <li class="dropdown"><a href="#"><span>물품거래</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="#">무료 나눔</a></li>
                <li><a href="#">중고 거래</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>커뮤니티</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="boardlist">분양하기</a></li>
                <li><a href="#">분양후기</a></li>
                <li><a href="#">캣스타그램</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="my_page"><span>마이페이지</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="myPost">내 글 모아보기</a></li>
                <li><a href="myReply">내가 쓴 댓글 모아보기</a></li>
                <li><a href="myHeart">좋아요 목록 보기</a></li>
                <li><a href="donatelist">내 후원 목록보기</a></li>
                <li><a href="modifyUser">회원정보 수정하기</a></li>
              </ul>
            </li>
            <li><a class="get-a-quote" href="logout">로그아웃</a></li>
          </ul>
        </nav>
        <!-- .navbar -->
  
      </div>
    </header><!-- End Header -->

     <!-- section -->
 
    <section class="text-center">
      <div class="mb-5">
        <h1 class="mb-3">Meow, me, you</h1>
        <h5 class="mb-5">너와 나의 이야기가 펼쳐지는 곳</h5>
        <span class="fs-5">미유미유는 모든 생명의 존엄성이 지켜지는 세상</span><br>
        <span class="fs-5">외면받는 생명이 생기지 않는 세상을 만들고자 합니다.</span><br>
        <span class="fs-5">차가운 거리에서 쓸쓸히 죽어가는 아이들의 울음소리와</span><br>
        <span class="fs-5">여러분의 따뜻한 마음이 만나는 공간</span><br>
        <span class="fs-5">서로의 이야기가 펼쳐지는 공간을 만들고자 미유미유를 계획하게 되었습니다.</span><br><br><br><hr>
      </div>
      
      <div class="sa sa-up">
        <h3 class="mt-5 mb-5">반려동물 양육 여부(%)</h3>
        <small class="text-muted">아래의 라벨을 클릭하시면 원하는 차트만 볼 수 있습니다.</small><br>
        <small class="text-muted">정확한 비율을 보고싶으시면 차트에 마우스 커서를 올려주세요</small><br>
        <canvas id="PET_KEEP" style="margin: 0 auto; height: 60vh; width: 60vw;"></canvas>
        <small class="text-muted">자료 : 문화체육관광부</small><br>
        <div class="business_info_text_box">
          <span class="fs-5">당신은 반려동물과 함께하나요?</span><br>
          <span class="fs-5">1인 가구가 급증함에 따라 반려인구도 급증하는 추세입니다.</span><br>
          <span class="fs-5">반려인구 1500만, 4가구 중 1가구는 반려동물을 키우는 시대입니다.</span><br>
          <span class="fs-5 mark">그리고 오늘은 372마리의 반려동물이 유기동물이 되었습니다.</span><br>
        </div>
      </div>
      <hr>

      <div class="sa sa-up">
          <h3 class="mt-5 mb-5">필요하다고 생각하는 반려동물 관련 정책(%)</h3>
          <small class="text-muted">정확한 비율을 보고싶으시면 차트에 마우스 커서를 올려주세요</small><br>
          <canvas id="PET_POLICY" style="margin: 0 auto; height: 50vh; width: 70vw;"></canvas>
          <small class="text-muted">자료 : 문화체육관광부</small><br>
        <div class="business_info_text_box">
          <span class="fs-5">대부분의 선진국에서는 유기동물에 대한 처벌을</span><br>
          <span class="fs-5">아동학대 및 유기에 대한 처벌과 동일 시 합니다.</span><br>
          <span class="fs-5">어쩌면 우리에게 가장 필요한 것은 <mark>성숙한 반려동물 문화</mark>가 아닐까요?</span><br>
        </div>
      </div>
    <hr>
      <div class="sa sa-up">
        <h3 class="mt-5 mb-5">최근 5년간 국내 유기동물 보호형태 비율(%)</h3>
        <small class="text-muted">아래의 라벨을 클릭하시면 원하는 차트만 볼 수 있습니다.</small><br>
        <small class="text-muted">정확한 비율을 보고싶으시면 차트에 마우스 커서를 올려주세요</small><br>
        <canvas id="ORG_ANM_PRTC_CHART" style="margin: 0 auto; height: 60vh; width: 60vw;"></canvas>
        <small class="text-muted">자료 : 농림축산검역본부</small><br>
        <div class="business_info_text_box">
          <span class="fs-5">지난 10년간 보호소에 입소한 유기동물은 947,098마리</span><br>
          <span class="fs-5">죽음을 맞이한 유기동물은 전체의 49.8%</span><br>          
          <span class="fs-5">자연사가 아니라 교통사고, 백내장 등 질병에 고통스럽게 죽어가며 </span><br>
          <span class="fs-5">인간의 죄책감을 덜기 위해 스스로 삶을 선택하지 못하고 안락사 당하고 있습니다.</span><br>
        </div>
      </div>
      <hr>

      <div class="sa sa-up">
        <h3 class="mt-5">자연사와 안락사의 비율</h3>
        <div class="death_chart">
          <img
            src="../img/business/business_info_deathchart.jpg"
            class="img-fluid img_deathchart" 
            alt="커뮤니티설명"
          />
          <div>
        <small class="text-muted">출처 : 2010.1. ~ 2020.6. 동물보호관리시스템, 마부작침 분석</small><br>
        <div class="business_info_text_box">
          <span class="fs-5">10년간 등록된 유기동물 947,098마리 중 <mark>특이사항으로 '질병'이 있는</mark></span><br>
          <span class="fs-5">유기동물은 243,005마리, 4마리 중 1마리 꼴로 <mark>쉽게 질병을 확인할 수 있습니다.</mark></span><br>
          <span class="fs-5">혼자서 살아갈 수 있는 능력이 부족한 고양이는 유기동물 중 가장 많은 비율로 죽음을 맞이하고</span><br><br>
          <span class="fs-5">가족으로써 죽음을 맞이해 장례를 치르는 반려동물 뒤에는</span><br>
          <span class="fs-5 mark">안락사한 의료폐기물과 질병사한 일반폐기물로 죽음을 맞이하는 유기동물이 있습니다.</span><br>
        </div>
      </div>
      <hr>

        <div class="final_img sa sa-up">
          <h1 class="mt-5 mb-5">미유미유가 꿈꾸는 미래</h1>
          <div class="bg-crop">
            <img
              src="../img/business/business_info.jpg"
              class="img-fluid bg-menu front_img"
              alt="커뮤니티설명"
            />
          </div>
         </div>
         <div class="btn_box">
          <a type="button" href="/" class="btn btn-light btn-lg foot_home_btn"><i class="bi bi-house-heart-fill"></i>&nbsp;미유미유 홈으로</a>
          <a type="button" href="#" class="btn btn-light btn-lg foot_top_btn"><i class="bi bi-arrow-up-circle-fill"></i>&nbsp;맨 위로</a>
        </div>  
    </section>
    

  <!-- section - end -->

   
   

    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container px-4">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2023
        </p>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"
      ><i class="fas fa-angle-up"></i
    ></a>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../js/business/business_info.js"></script>
  </body>
</html>
