<!DOCTYPE html>
<html lagn="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{fragments/config_5.2.3 :: config(~{::title})}"></head>

<body id="page-top">
<!-- header 시작 -->
<header th:replace="~{fragments/admin_header_nav :: admin_header_nav}"></header>
<!-- header 끝 -->
<!-- content 시작 -->
<div layout:fragment="content"></div>
<!-- content 끝 -->
<!-- footer 시작 -->
<footer th:replace="~{fragments/footer :: footer}"></footer>
<!-- footer 끝 -->
</body>

</html>