<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_5.2.3}">

<!--고유 CSS 추가-->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/admin/admin_user_detail.css}" >
  <link rel="stylesheet" th:href="@{/css/fragments/header_card.css}" >
</th:block>

<!--고유 스크립트 추가-->
<th:block layout:fragment="script">
  <script defer th:src="@{/js/admin/admin_user_detail.js}"></script>
</th:block>

<title>관리자 회원 관리페이지</title>

<div layout:fragment="content">

  <!-- section -->
  <div class="jua header-card">
    <div class="card bg-crop">
      <img
              src="../img/mypost/post.jpg"
              class="card-img rounded mx-auto d-block bg-menu"
              alt="커뮤니티설명"
      />
      <div class="card-img-overlay">
        <h5 class="card-title text-dark text-center fs-1">
          유저 상세보기
        </h5>
      </div>
    </div>
  </div>

  <section class="sans" id="user_info">
    <div class="col-3" id="user_detail_info_box">
      <table class="table">
        <tbody>
        <tr>
          <th scope="row">ID</th>
          <td><span th:text="${user.getUserId()}"></span></td>
        </tr>
        <tr>
          <th scope="row">이름</th>
          <td><span th:text="${user.getUserName()}"></span></td>
        </tr>
        <tr>
          <th scope="row">닉네임</th>
          <td><span th:text="${user.getNickName()}"></span></td>
        </tr>
        <tr>
          <th scope="row">지역</th>
          <td><span th:text="${user.getAddress()}"></span></td>
        </tr>
        <tr>
          <th scope="row">폰번호</th>
          <td><span th:text="${user.getPhoneType()}"></span>&nbsp;&nbsp;<span th:text="${user.getPhoneNumber()}"></span></td>
        </tr>
        <tr>
          <th scope="row">회원등급</th>
          <td><span th:text="${user.getUserType()}"></span></td>
        </tr>
        <tr>
          <th scope="row">가입일</th>
          <td><span th:text="${user.getUserJoinDate().toString().substring(0,user.getUserJoinDate().toString().indexOf('T'))}"></span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="sans" id="admin_btn_group">
    <div class="list-group list_user">
      <span class="fw-bold fs-5 text-dark mb-3 mt-3" disabled>회원</span>
      <a th:href="@{/adminUserPost?(userNo=${user.getUserNo()})}" class="list-group-item list-group-item-action">게시글보기</a>
      <a th:href="@{/adminUserDonate?(userNo=${user.getUserNo()})}" class="list-group-item list-group-item-action">후원내역보기</a>
      <a th:href="@{/adminUserReply?(userNo=${user.getUserNo()})}" class="list-group-item list-group-item-action">댓글보기</a>
    </div>
    <div class="list-group list_user">
      <span class="fw-bold fs-5 text-dark mb-3 mt-3" disabled>계정</span>
      <a th:href="@{/adminUserDelete?(userNo=${user.getUserNo()})}" type="button" id="confirm_deleteUser_btn" class="list-group-item list-group-item-action">계정탈퇴</a>
      <a th:href="@{/adminUserTypeChange?(userNo=${user.getUserNo()})}" type="button" id="confirm_changeUser_btn" class="list-group-item list-group-item-action">등급변경</a>
    </div>
  </section>

  <!-- section - end -->

</div>
</html>