<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_5.2.3}">
<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/donate/donate_home.css}" >
</th:block>

<!-- 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <script defer src="/js/donate/donate_home.js"></script>
</th:block>

<title>후원하기 홈</title>

<div class="serif" layout:fragment="content">

  <div class="header-card" >
    <div class="card bg-crop">
      <img
          src="../img/banner/donate_banner.jpg"
          class="card-img rounded mx-auto d-block bg-menu"
          alt="커뮤니티설명"
      />
      <div class="card-img-overlay">

        <h5 class="card-title text-dark text-center fs-2">
          길 위의 아이들이
        </h5>
        <p class="card-text text-dark text-center fs-3">
          내일을 기대할 수 있도록 함께해주세요!
        </p>
      </div>
    </div>
  </div>
  <div>
    <div class="text-center fs-1 mt-5">
      <p>후원사업 선택</p>
    </div>

    <div class="text-center fs-3 mb-5">
      <p>원하시는 후원사업을 선택해주세요!</p>
    </div>
  </div>


  <!-- section -->

  <section>
    <div class="row row-cols-1 row-cols-xxl-3 row-cols-lg-1 g-4 donate_row">
      <div class="col donate_box mt-5">
        <div class="card donate_card">
          <img src="../img/donate/donate_business_cure.jpg" class="card-img-top donate_pic" alt="..." >
          <div class="card-body">
            <h5 class="card-title donate_head_line mb-3">유기묘의 치료를 도와주세요!</h5>
            <p class="card-text"><strong>유기동물 보호소 1개소의 1년치 치료비용 5천만원</strong></p>
            대부분의 보호소에서는 이를 감당하지 못하고 15.7%의 유기동물을 안락사시킨다고 해요 아이들이 아프지 않고 건강하게 자랄 수 있도록
            미유미유에서 당신의 온기를 아이들에게 더해주세요<br>
            </p>

          </div>
          <small class="text-muted">후원 금액은 **구청 관할보호소에 전달됩니다.</small>
          <div class="btn_box">
            <a type="button" onClick="javascript:selectBusiness('CURE_001')" class="btn btn-outline-dark donate_btn">치료사업 후원하기</a>
          </div>
        </div>
      </div>
      <div class="col donate_box mt-5">
        <div class="card donate_card">
          <img src="../img/donate/donate_business_prtc.jpg" class="card-img-top donate_pic" alt="...">
          <div class="card-body">
            <h5 class="card-title donate_head_line mb-3">유기묘의 보호를 도와주세요!</h5>
            <p class="card-text"><strong>보호소에 입소하면 15일마다 친구들이 없어진대요</strong></p>
            <p>
              입소하고 15일 안에 입양 받지 못하면 보호소에 자리가 없어서 안락사 당하고 맙니다.
              우리 아이들이 안심하고 보호받을 수 있도록 더 많은 보호소에서 새로운 가족과 만날 수 있도록
              장소를 마련해주시는건 어떨까요?
            </p>

          </div>
          <small class="text-muted">후원 금액은 **구청 보호소 개설사업에 전달됩니다.</small>
          <div class="btn_box">
            <a type="button" onClick="javascript:selectBusiness('PRTC_001')" class="btn btn-outline-dark donate_btn">보호사업 후원하기</a>
          </div>
        </div>
      </div>
      <div class="col donate_box mt-5">
        <div class="card donate_card">
          <img src="../img/donate/donate_business_struc.jpg" class="card-img-top donate_pic" alt="...">
          <div class="card-body">
            <h5 class="card-title donate_head_line mb-3">유기묘의 구조를 도와주세요!</h5>
            <p class="card-text"><strong>고양이의 평균 수명은 15년 그러나 길고양이의 평균 수명은 고작 2년</strong></p>
            <p>추위를 견디지 못하고 병에 걸리거나 영양실조로 길가에서 매 년 25%이상의 고양이들이 죽고 있습니다.
              이 연약한 생명들이 내일을 기대할 수 있도록 건강하게 자랄 수 있도록 당신의 따뜻한 손길을 내어주세요
            </p>

          </div>
          <small class="text-muted">후원 금액은 **구조센터에 전달됩니다.</small>
          <div class="btn_box">
            <a type="button" onClick="javascript:selectBusiness('STRUC_001')" class="btn btn-outline-dark donate_btn">구조사업 후원하기</a>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
</html>
