<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_5.1.3}">

<!--고유 CSS 추가-->
<th:block layout:fragment="css">
  <link th:href="@{/css/donate/donate_receipt.css}" rel="stylesheet"/>
</th:block>

<!--고유 스크립트 추가-->
<th:block layout:fragment="script">
  <script defer src="/js/donate/donate_receipt.js"></script>
</th:block>
<title>기부금영수증 발급</title>

<div layout:fragment="content">


  <section id="donate_receipt_info">
    <div class="col-3" id="donate_receipt_box">
      <h1 class="text-center mb-5 mt-5 serif">기부금 영수증</h1>
      <table class="table mb-5 sans">
        <tbody>
        <tr style="border-top:1px solid RGB(234, 236, 238);">
          <th colspan="3" class="table-secondary">기부자</th>
        </tr>
        <tr>
          <th>성명</th>
          <td th:text="${donateReceipt.donateName}" colspan="2"></td>
        </tr>
        <tr>
          <th>연락처</th>
          <td th:text="${donateReceipt.phoneNumber}" colspan="2"></td>
        </tr>
        <tr>
          <th colspan="3" class="table-secondary">기부금단체</th>
        </tr>
        <tr>
          <th>단체명</th>
          <td colspan="2">Meow me, you</td>
        </tr>
        <tr>
          <th>사업자번호</th>
          <td colspan="2">000-00-00000</td>
        </tr>
        <tr>
          <th colspan="3" class="table-secondary">기부금 모음처(언론기관 등)</th>
        </tr>
        <tr>
          <th>단체명</th>
          <td th:switch="${donateReceipt.donateBusinessCode}" colspan="2">
            <span th:case="'CURE_001'">**구청 관할 보호소 **보호소</span>
            <span th:case="'PRTC_001'">**구청 보호소 개설사업</span>
            <span th:case="'STRUC_001'">**구조센터</span>
          </td>
        </tr>
        <tr>
          <th>소재지</th>
          <td th:switch="${donateReceipt.donateBusinessCode}" colspan="2">
            <span th:case="'CURE_001'">서울시 **구 **동 **보호소</span>
            <span th:case="'PRTC_001'">**구청</span>
            <span th:case="'STRUC_001'">경기도 **시 **구 **동 **구조센터</span>
          </td>
        </tr>
        <tr>
          <th colspan="3" class="table-secondary">기부내용</th>
        </tr>
        <tr>
          <th>유형</th>
          <th>기부일자</th>
          <th>후원금액</th>
        </tr>
        <tr class="donate_content">
          <td th:switch="${donateReceipt.donateWayCode}">
            <span th:case="'ACNT'">계좌이체</span>
            <span th:case="'BANK'">무통장입금</span>
            <span th:case="'CRCRD'">신용카드</span>
          </td>
          <td th:text="${#dates.format(donateReceipt.donateDate, 'yyyy년 MM월 dd일')}"></td>
          <td th:text="${#numbers.formatInteger(donateReceipt.donateAmount, 0, 'COMMA')+'원'}"></td>
        </tr>
        <tr>
          <td colspan="3">소득세법 제 -조, 조세특례제한법 제-조 및 동법 제 -조의 -의 규정에 의한 기부금을
            위와 같이 기부하였음을 증명하여 주시기 바랍니다.<br>
            <p th:text="${#calendars.format(#calendars.createNow(), 'yyyy년 MM월 dd일')}"class="mt-5 mb-5 text-center"></p>
            <p class="text-end">신청인 : <span th:text="${donateReceipt.donateName}"></span>&nbsp;&nbsp;&nbsp;(인)</p></td>
        </tr>
        <tr>
          <td colspan="3">위와 같이 기부하였음을 증명합니다.<br>
            <p th:text="${#calendars.format(#calendars.createNow(), 'yyyy년 MM월 dd일')}" class="mt-5 mb-5 text-center"></p>
            <p class="text-end">기부금 수령인 :
              <span th:switch="${donateReceipt.donateBusinessCode}" colspan="2">
                <span th:case="'CURE_001'">서울시 **구 **동 **보호소장</span>
                <span th:case="'PRTC_001'">**구청장</span>
                <span th:case="'STRUC_001'">경기도 **시 **구 **동 **구조센터장</span></span>
              &nbsp;&nbsp;&nbsp;(인)</p></td>
        </tr>
        <tr>
          <td rowspan="6" style="width:15%;border-right: 1px solid RGB(234, 236, 238);">유형, 코드 : </td>
          <td style="border-right: 1px solid RGB(234, 236, 238);">소득세법 제 34조 제2항 기부금</td>
          <td>(법정기부금, 코드 10)</td>
        </tr>
        <tr>
          <td style="border-right: 1px solid RGB(234, 236, 238);" >조세특례제한법 제73조 기부금</td>
          <td>(조특법, 코드 30)</td>
        </tr>
        <tr>
          <td style="border-right: 1px solid RGB(234, 236, 238);" >소득세법 제 34조 제1항 기부금</td>
          <td>(지정기부금, 코드 40)</td>
        </tr>
        <tr>
          <td style="border-right: 1px solid RGB(234, 236, 238);" >소득세법 제 34조 제1항기부금중 종교단체기부금</td>
          <td>(종교단체기부금, 코드 41)</td>
        </tr>
        <tr>
          <td style="border-right: 1px solid RGB(234, 236, 238);" >조세특례제한법 제88조의4 기부금</td>
          <td>(우리사주조합기부금, 코드 42)</td>
        </tr>
        <tr>
          <td style="border-right: 1px solid RGB(234, 236, 238);" >기타기부금</td>
          <td>(기타기부금, 코드 50)</td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>

  <!-- section - end -->
  <div class="print_btn_box">
    <a id="print" type="button" class="btn btn-light mb-5 sans" onclick="printArea()"><i class="fa fa-print print-button"></i>영수증 출력</a>
    <a id="back" class="btn btn-light mb-5 sans" type="button" onclick="goBack();">뒤로가기</a>
  </div>
</html>
