.header-card {
  margin-top: 80px;
}

.card-img-overlay {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

header h5 {
  font-size: xx-large;
}

.badge {
  top: 0.5rem;
  right: 0.5rem;
}

.marbot_100{
  margin-bottom:100px;
}

.right_18per{
  right:18%;
}
.text-box{
  border:1px solid #808080;
}