
section {
  height: 900px;
  margin-top: 100px;
}
.marbot_50 {
  margin-bottom: 50px;
}
.martop_10 {
  margin-top: 10px;
}
#pw_find_text {
  text-align: center;
}
.marbot_30 {
  margin-bottom: 30px;
}

#pw_find_btn_group {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#pw_find_btn_group button {
  width: 150px;
  margin: 0 20px;
}

a{
text-decoration:none;
}

.input_password_box{
width:100%;
display:flex;
align-items:center;
justify-content:center;
}