
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login_menu a {
  color: #000;
}

.login_menu a:hover {
  color: #dc3545;
}

section {
  height: 950px;
  margin-top: 80px;
  margin-bottom: 100px;
}

.find_info_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.find_info_box a {
  text-decoration: none;
}

.btn-lg {
  margin-bottom: 5px;
}

/* 모달 */
.modal.modal-center {
  text-align: center;
  margin-top: 200px;
}

.modal-dialog {
  text-align: left;
  vertical-align: middle;
}

#find_id_head {
  margin-bottom: 30px;
}
.modal-header {
  display: flex;
  justify-content: center;
}
.modal-body {
  margin-left: 50px;
}
.form-label {
  text-align: left;
}

#sign_email {
  width: 70%;
}
.form_box {
  display: flex;
  height: 40px;
}

#sign_name {
  width: 91%;
}

#modal_sign_name {
  width: 91%;
}

#phone_input_box {
  display: flex;
}
#phone_input_pw_box{
  display: flex;
}
.findIdType {
  width: 20%;
}
.resetPWType{
  width: 20%;
}
.resetPWPhone{
  width: 68%;
  margin-left: auto;
  margin-right: 38px;
}
.findIdPhone {
  width: 68%;
  margin-left: auto;
  margin-right: 38px;
}

#find_idpw {
  text-align: center;
  margin-right: 28px;
}
.mail-check-input{
  width:91%;
}
.resetid{
  width:65%;
}
#mail-Check-Btn{
  position:relative;margin-right:auto;white-space: nowrap; margin-left:10px;
}
#input_id_find_box{
  display:flex;
}