
.sec-header {
  margin-top: 130px;
  margin-bottom: -20px;
  width: 100%;
}

.thumb {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.24);
}

.thumb-wrapper {
  position: relative;
  margin-bottom: 36px;
  text-align: center;
}

.text-area h3{
  text-align: center;
}
.greeting {
  margin-bottom: 10px;
}

/* 리스트 */

.list .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.list .item .left {
  display: flex;
  align-items: center;
}

.list .item .left .name {
  margin-left: -20px;
}

.list .item .right {
  opacity: 0.5;
}

.list .item img {
  padding: 20px 22px;
}

.list .item .right img {
  padding-right: 14px;
}

.list .mg {
  margin-left: -50px;
}

#user_info_box {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

#user_info {
  white-space: nowrap;
  width:400px;
  margin: 10px;
}

section {
  height: 400px;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 50px;
}

a{
text-decoration:none;
}

.small_btn {
  padding: 0.15rem 0.25rem;
  font-size: 0.7rem;
  border-radius: 0.2rem;
}