
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 100px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login_menu a {
  color: #000;
}

.login_menu a:hover {
  color: #dc3545;
}

section {
  height: 900px;
}
.martop_30 {
  margin-top: 30px;
}
.padbot_30 {
  padding-bottom: 30px;
}
.marbot_5{
  margin-bottom: 5px;
}
.marbot_30{
  margin-bottom: 30px;
}
#password_change{
  font-weight: 600;
}
