
.left {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

textarea,
.fake_textarea {
  resize: none;
  width: 90%;
  border-radius: 4px;
  border: 1px solid gray;

  font-size: 15px;
  font-weight: normal;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.txt_align_ctr {
  text-align: center;
}

.bot_btn_group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

a{
  text-decoration:none;
}

.top_logo{
  margin-top:10px;
}